<h5>
    <a href="#editUsage-Supervision-Notes" style="color: lightseagreen; margin-left: 3em;" data-toggle="collapse" onclick="change_arrow($(this));">
        Notes / Details
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editUsage-Supervision-Notes" class="collapse">
    <!-- Notes/Details -->
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>How many Compliance Divisions are required?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.compliance_divisions %>"
                name="usage_questions[supervision][compliance_divisions]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>What supervision system are you currently running?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.supervision_system %>"
                name="usage_questions[supervision][supervision_system]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>What are your current pain-points?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.pain_points %>"
                name="usage_questions[supervision][pain_points]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Are there deficiencies in your current process that put you at risk?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.deficiencies %>"
                name="usage_questions[supervision][deficiencies]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>What are the customer's lines of business that has different Supervision requirements?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.business_supervision_requirements %>"
                name="usage_questions[supervision][business_supervision_requirements]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Is review centralized / decentralized?</label>
            <%- make_custom_dropdown("usage_questions[supervision][review]",
                    usage_questions.supervision.review, ["Centralized", "Decentralized"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>What is the escalation process when issues / violations are found?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.escalation_process %>"
                name="usage_questions[supervision][escalation_process]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Who is responsible for reviewing which group / user?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.system_record.responsible %>"
                name="usage_questions[supervision][system_record][responsible]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>How is this data loaded into your current system?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.system_record.how_is_data_loaded %>"
                name="usage_questions[supervision][system_record][how_is_data_loaded]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Do you need to migrate your existing policies?</label>
            <%- make_custom_dropdown("usage_questions[supervision][need_to_migrate_policies]",
                    usage_questions.supervision.need_to_migrate_policies, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Do you already have whitelists, disclaimers headers, etc. (pre-approved content) that needs
                to be excluded?</label>
            <%- make_custom_dropdown("usage_questions[supervision][whitelists]",
                    usage_questions.supervision.whitelists, ["Yes", "No"]) %>
        </div>
    </div>
</div>
<hr>
