<!-- Displaying customer data -->
<div id="generalInfo" class="display-header">
    <div id="generalInfoHeader">
        <div class="title">
            <h5 style="color: mediumvioletred">General Information</h5>
        </div>
        <div class="edit pull-right">
            <a href="#/" id="editCustomerLink" aria-hidden="true" data-toggle="modal">
                <i class="fa fa-pencil-square-o"> Edit</i>
            </a>
        </div>
    </div>
    <br>

    <form id="customerForm" autocomplete="off" action="/customerprofile/index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
        <fieldset id="customerFormFieldset" disabled>
            <div class="row">
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Customer Name </label>
                    <input id="unique-customer-name" required type="text" class="form-control" placeholder="No response set" value="<%= customer.name %>"
                        name="customer[name]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Sales Rep.</label>
                    <input type="text" class="form-control" placeholder="No response set" id="salesRep" value="<%= customer.salesRep %>" name="customer[salesRep]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Archiving SE </label>
                    <input type="text" class="form-control" placeholder="No response set" id="archivingSe" value="<%= customer.archivingSe %>"
                        name="customer[archivingSe]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Acc. Manager </label>
                    <input type="text" class="form-control" placeholder="No response set" id="accManager" value="<%= customer.accManager %>"
                        name="customer[accManager]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">TEM </label>
                    <input type="text" class="form-control" placeholder="No response set" id="tme" value="<%= customer.tem %>" name="customer[tem]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">TAM </label>
                    <input type="text" class="form-control" placeholder="No response set" id="tam" value="<%= customer.tam %>" name="customer[tam]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Implementation Specialist </label>
                    <input type="text" class="form-control" placeholder="No response set" id="implementationSpecialist " value="<%= customer.impSpecialist %>"
                        name="customer[impSpecialist]">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Number of Users </label>
                    <input type="text" class="form-control" placeholder="No response set" id="numberOfUsers" value="<%= customer.numberOfUsers %>"
                        name="customer[numberOfUsers]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Location </label>
                    <input type="text" class="form-control" placeholder="No response set" id="location" value="<%= customer.location %>" name="customer[location]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Supervision </label>
                    <input type="text" class="form-control" placeholder="No response set" id="supervision" value="<%= customer.supervision %>"
                        name="customer[supervision]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Status </label>
                    <%- make_custom_dropdown("customer[status]", customer.status, 
                    ["Waiting for PDQ", "Waiting for sales", "Waiting for finance", "Waiting for ops", "Waiting for customer", "Waiting for scheduling", "Deployment started", "Deployment complete/in production"]) %>
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">NAT IP </label>
                    <input type="text" class="form-control" placeholder="No response set" id="natIp" value="<%= customer.natIp %>" name="customer[natIp]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Incumbent Solution </label>
                    <input type="text" class="form-control" placeholder="No response set" id="incumbentSolution" value="<%= customer.incumbentSolution %>"
                        name="customer[incumbentSolution]">
                </div>
            </div>
            <br>

            <div class="title">
                <h5 style="color: mediumvioletred">Contacts</h5>
            </div>

            <div class="row">
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Name </label>
                    <input type="text" class="form-control" placeholder="Contact name" value="<%= customer.contacts.name %>" name="customer[contacts][name]">
                </div>
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Title </label>
                    <input type="text" class="form-control" placeholder="Contact title" value="<%= customer.contacts.title %>" name="customer[contacts][title]">
                </div>
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Email </label>
                    <input type="email" class="form-control" placeholder="Contact email" value="<%= customer.contacts.email %>" name="customer[contacts][email]">
                </div>
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Phone </label>
                    <input type="text" class="form-control" placeholder="Contact phone number" value="<%= customer.contacts.phone %>" name="customer[contacts][phone]">
                </div>
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Primary contact </label>
                    <%- make_custom_dropdown("customer[contacts][primary_contact]", customer.contacts.primary_contact, ["Yes", "No"]) %>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<hr class="rainbow">