<!-- Displaying customer data -->
<div id="generalInfo" class="display-header">
    <div id="generalInfoHeader">
        <div class="title">
            <h5 style="color: mediumvioletred">General Information</h5>
        </div>
        <div class="edit pull-right">
            <a href="#/" id="editCustomerLink" aria-hidden="true" data-toggle="modal">
                <i class="fa fa-pencil-square-o"> Edit</i>
            </a>
        </div>
    </div>
    <br>

    <form id="customerForm" autocomplete="off" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
        <fieldset id="customerFormFieldset" disabled>
            <div class="row">
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Customer Name </label>
                    <input id="unique-customer-name" required type="text" class="form-control" placeholder="No response set" value="<%= customer.name %>"
                        name="customer[name]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Sales Rep.</label>
                    <input type="text" class="form-control" placeholder="No response set" id="salesRep" value="<%= customer.salesRep %>" name="customer[salesRep]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Archiving SE </label>
                    <input type="text" class="form-control" placeholder="No response set" id="archivingSe" value="<%= customer.archivingSe %>"
                        name="customer[archivingSe]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Acc. Manager </label>
                    <input type="text" class="form-control" placeholder="No response set" id="accManager" value="<%= customer.accManager %>"
                        name="customer[accManager]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">TEM </label>
                    <%- make_custom_dropdown("customer[tem]", customer.tem, ["Aimee Wheelon", "Khoj Ladha", "Joan Noble", "John Dettori", "Greg Eagle", "Susan Chmelir", "Denise Samudio"]) %>
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">TAM </label>
                    <input type="text" class="form-control" placeholder="No response set" id="tam" value="<%= customer.tam %>" name="customer[tam]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Implementation Specialist </label>
                    <input type="text" class="form-control" placeholder="No response set" id="implementationSpecialist " value="<%= customer.impSpecialist %>"
                        name="customer[impSpecialist]">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Number of Users </label>
                    <input type="text" class="form-control" placeholder="No response set" id="numberOfUsers" value="<%= customer.numberOfUsers %>"
                        name="customer[numberOfUsers]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Location </label>
                    <input type="text" class="form-control" placeholder="No response set" id="location" value="<%= customer.location %>" name="customer[location]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Supervision </label>
                    <input type="text" class="form-control" placeholder="No response set" id="supervision" value="<%= customer.supervision %>"
                        name="customer[supervision]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Status </label>
                    <%- make_custom_dropdown("customer[status]", customer.status, 
                    ["Waiting for PDQ", "Waiting for sales", "Waiting for finance", "Waiting for ops", "Waiting for customer", "Waiting for scheduling", "Deployment started", "Deployment complete/in production"]) %>
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">NAT IP </label>
                    <input type="text" class="form-control" placeholder="No response set" id="natIp" value="<%= customer.natIp %>" name="customer[natIp]">
                </div>

                <div class="form-group general_info response-cell">
                    <label style="text-align: center !important;">Incumbent Solution </label>
                    <input type="text" class="form-control" placeholder="No response set" id="incumbentSolution" value="<%= customer.incumbentSolution %>"
                        name="customer[incumbentSolution]">
                </div>
            </div>
            <br>


            <div class="row">
                <div class="form-group col-4 response-cell">
                    <h5>Is the customer an:</h5>
                    <div class="col-4, response-checkbox">
                        <p>
                            <input type="checkbox" name="customer[existing_archive_prospect]" <%- customer.existing_archive_prospect ? "checked" : ""
                                %> />
                            <b> Archiving Prospect</b>
                        </p>
                    </div>
                    <div class="col-4, response-checkbox">
                        <p>
                            <input type="checkbox" name="customer[existing_archive_customer]" <%- customer.existing_archive_customer ? "checked" : ""
                                %> />
                            <b> Existing Archiving Customer</b>
                        </p>
                    </div>
                    <div class="col-4, response-checkbox">
                        <p>
                            <input type="checkbox" name="customer[existing_security_customer]" <%- customer.existing_security_customer ? "checked" :
                                "" %> />
                            <b> Existing Proofpoint Security Customer</b>
                        </p>
                    </div>
                </div>

                <div class="form-group col-4 response-cell">
                    <label>Are DAGs being used?</label>
                    <%- make_custom_dropdown("customer[is_using_DAG]", customer.is_using_DAG, ["Yes", "No"]) %>
                </div>
                <div class="form-group col-4 response-cell">
                    <label>Describe the HA/DR of the Exchange environment.</label>
                    <input type="text" class="form-control" placeholder="No response set" value="<%= customer.describe_HA_DR %>" name="customer[describe_HA_DR]">
                </div>

                <div class="form-group col-4 response-cell">
                    <label>
                        <a href="#" onclick="window.open( (($('#pso_ticket_location').val() == 'CTS') ? 'https://support.proofpoint.com/show_call.cgi?id=' : 'https://na33.salesforce.com/')  + $('#pso').val());">
                            PSO
                        </a>
                    </label>
                    <div class="input-group">
                        <select name="customer[pso][location]" id="pso_ticket_location">
                            <option>Salesforce</option>
                            <option value="CTS" <% if (customer.pso.location == 'CTS') { %>selected<% } %>>CTS</option>
                        </select>
                        <input id="pso" type="text" class="form-control" placeholder="No response set" value="<%= customer.pso.ticket %>" name="customer[pso][ticket]">
                    </div>
                </div>
                <div class="form-group col-4 response-cell">
                    <label>
                        <a href="#" onclick="window.open('https://cts-pp.proofpoint.com/show_call.cgi?id=' + $('#shipreq').val());">
                            Shipment request
                        </a>
                    </label>
                    <input type="text" id="shipreq" class="form-control" placeholder="No response set" value="<%= customer.shipreq %>" name="customer[shipreq]">
                </div>
            </div>

            <hr>

            <div class="title">
                <h5 style="color: mediumvioletred">Contacts</h5>
            </div>

            <button id="add_row" type="button" class="btn-primary">Add row</button>
            <button id="delete_row" type="button" class="btn-primary">Delete row</button>
            <br>
            <br>

            <table id="contacts_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Contact name</th>
                        <th>Title</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Primary contact</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% if(customer.contacts && customer.contacts.length) {
                        for(let i = 0; i < customer.contacts.length; i++) { %>
                        <tr>
                            <td>
                                <input type="text" class="form-control" placeholder="Contact Name" name="customer[contacts][<%= i %>][name]" value="<%= customer.contacts[i].name %>"
                                />
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Contact Title" name="customer[contacts][<%= i %>][title]" value="<%= customer.contacts[i].title%>"
                                />
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Contact Email" name="customer[contacts][<%= i %>][email]" value="<%= customer.contacts[i].email %>"
                                />
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Contact Phone" name="customer[contacts][<%= i %>][phone]" value="<%= customer.contacts[i].phone %>"
                                />
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Primary Contact" name="customer[contacts][<%= i %>][primary_contact]"
                                    value="<%= customer.contacts[i].primary_contact %>" />
                            </td>
                            <td>
                                <i class="fa fa-trash" aria-hidden="true" onclick='delete_row(this);'></i>
                            </td>
                        </tr>
                        <% } } else { %>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" placeholder="Contact Name" name="customer[contacts][0][name]" value="" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Contact Title" name="customer[contacts][0][title]" value="" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Contact Email" name="customer[contacts][0][email]" value="" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Contact Phone" name="customer[contacts][0][phone]" value="" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="customer[contacts][0][primary_contact]" value="" />
                                </td>
                                <td>
                                    <i class="fa fa-trash" aria-hidden="true" onclick='delete_row(this);'></i>
                                </td>
                            </tr>
                            <% } %>
                </tbody>
            </table>

            <div class="form-group">
                <label>Comments</label>
                <textarea maxlength="5000" rows="5" name="customer[comments]" placeholder="5000 characters max" form="customerForm"><%= customer.comments %></textarea>
            </div>
        </fieldset>
    </form>
    <hr>

    <h5 style="color: mediumvioletred">Diagrams for Exchange infrastructure and AD details</h5>
    <div class="row">
        <div class="form-group general_info response-cell">
            <label style="font-size: 12px; text-align: center;">On-prem Exchange
                <br>(On-prem Appliance)</label>
            <div>
                <div id="diagram1">

                </div>
                <form action="../uploads" method="POST" enctype="multipart/form-data" id="upload1">
                    <input type="text" hidden readonly value="<%= customer.name %>" name="customername">
                    <input type="text" hidden readonly value="1" name="diagram">
                    <input type="file" name="file" required>
                    <button type="submit" class="btn-primary">Upload</button>
                </form>
            </div>
        </div>
        <div class="form-group general_info response-cell">
            <label style="font-size: 12px; text-align: center;">On-prem Exchange + O365
                <br>(On-prem Appliance)</label>
            <div>
                <div id="diagram2">

                </div>
                <form action="../uploads" method="POST" enctype="multipart/form-data" id="upload2">
                    <input type="text" hidden readonly value="<%= customer.name %>" name="customername">
                    <input type="text" hidden readonly value="2" name="diagram">
                    <input type="file" name="file" required>
                    <button type="submit" class="btn-primary">Upload</button>
                </form>
            </div>
        </div>
        <div class="form-group general_info response-cell">
            <label style="font-size: 12px; text-align: center;">On-prem Exchange + O365
                <br>(Hosted Appliance)</label>
            <div>
                <div id="diagram3">
                </div>
                <form action="../uploads" method="POST" enctype="multipart/form-data" id="upload3">
                    <input type="text" hidden readonly value="<%= customer.name %>" name="customername">
                    <input type="text" hidden readonly value="3" name="diagram">
                    <input type="file" name="file" required>
                    <button type="submit" value="Upload" class="btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
<hr class="rainbow">