<!-- Displaying Email Systems SE questions -->
<div id="emailSystemSe" class="display-header">
    <h5>
        <a href="#emailContainer" data-toggle="collapse">Email Systems SE
            <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="emailContainer" class="collapse">
        <div class="edit pull-right" style="float: right;">
            <a href="#/" id="editEmailSystemSELink" aria-hidden="true" data-toggle="modal">
                <i class="fa fa-pencil-square-o"> Edit</i>
            </a>
        </div>
        <br>

        <form autocomplete="off" id="emailSystemSEForm" action="/index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="emailSystemSEFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label>Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="email_se_questions[name]">
                </div>

                <h5>
                    <a href="#editEmailSystemsSE-1" style="color: mediumvioletred" data-toggle="collapse">On-prem Exchange w/ On-prem Appliances
                        <i class="fa fa-arrows-v" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editEmailSystemsSE-1" class="collapse">
                    <h5 style="color: lightseagreen">Exchange Details</h5>
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>What versions of Exchange are running?</label>
                            <input type="text" class="form-control exchange_version" placeholder="No response set" value="<%= email_se_questions.prem_exchange.exchange_version %>"
                                name="email_se_questions[prem_exchange][exchange_version]">
                        </div>

                        <div class="form-group col-4 response-cell">
                            <label>How many locations are mailbox servers deployed?</label>
                            <input type="text" class="form-control number_of_mail_servers" placeholder="No response set" value="<%= email_se_questions.prem_exchange.number_of_mail_servers %>"
                                name="email_se_questions[prem_exchange][number_of_mail_servers]">
                        </div>

                        <div class="form-group col-4 response-cell">
                            <label>Do you have an Enterprise CAL?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange][has_enterprise_CAL]",
                                    email_se_questions.prem_exchange.has_enterprise_CAL, ["Yes", "No"], "has_enterprise_CAL") %>
                        </div>

                        <div class="form-group col-4 response-cell">
                            <label style="color: red;">Are you replicating Exchange and AD to a secondary data center?
                            </label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange][is_replicating_exchange_and_AD]",
                                    email_se_questions.prem_exchange.is_replicating_exchange_and_AD, ["Yes", "No"]) %>
                        </div>

                        <div class="form-group col-4 response-cell">
                            <label>Please provide a diagram of your exchange infrastructure and your AD Details.</label>
                            <input type="text" class="form-control diagram" placeholder="No response set" value="<%= email_se_questions.prem_exchange.diagram %>"
                                name="email_se_questions[prem_exchange][diagram]">
                        </div>
                    </div>
                    <hr>

                    <h5 style="color: lightseagreen">Active Directory Details</h5>
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Is your AD multi-forest?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange][is_multi_forest]",
                                    email_se_questions.prem_exchange.is_multi_forest, ["Yes", "No"], "is_multi_forest") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are there trusts between the forests?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange][exists_trusts]",
                                    email_se_questions.prem_exchange.exists_trusts, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Is this a Resource Forest arrangement?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange][is_resource_forest_arrangement]",
                                    email_se_questions.prem_exchange.is_resource_forest_arrangement, ["Yes", "No"], "is_resource_forest_arrangement") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you using multi-domains?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange][is_using_multi_domains]",
                                    email_se_questions.prem_exchange.is_using_multi_domains, ["Yes", "No"], "is_using_multi_domains") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>If yes, what is the structure of multi-domain architecture / their relationships?
                            </label>
                            <input type="text" class="form-control structure" placeholder="No response set" value="<%= email_se_questions.prem_exchange.structure %>"
                                name="email_se_questions[prem_exchange][structure]">
                        </div>
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editEmailSystemsSE-2" style="color: mediumvioletred" data-toggle="collapse">O365 (Hosted Appliances)
                        <i class="fa fa-arrows-v" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editEmailSystemsSE-2" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>What O365 license level do you have?</label>
                            <input type="text" class="form-control O365_version" placeholder="No response set" value="<%= email_se_questions.hosted_O365.O365_version %>"
                                name="email_se_questions[hosted_O365][O365_version]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you maintaining AD on-prem?</label>
                            <%- make_custom_dropdown("email_se_questions[hosted_O365][is_maintaining_on_prem_AD]",
                                    email_se_questions.hosted_O365.is_maintaining_on_prem_AD, ["Yes", "No"], "is_maintaining_on_prem_AD") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you maintaining AD in Azure?</label>
                            <%- make_custom_dropdown("email_se_questions[hosted_O365][is_maintaining_azure]",
                                    email_se_questions.hosted_O365.is_maintaining_azure, ["Yes", "No"], "is_maintaining_azure") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>When you create and admin mailboxes, do you do that in the on-prem AD, or in Azure?</label>
                            <%- make_custom_dropdown("email_se_questions[hosted_O365][is_admin_in_AD_or_azure]",
                                    email_se_questions.hosted_O365.is_admin_in_AD_or_azure, ["On-prem AD", "Azure"], "is_admin_in_AD_or_azure") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Sync tools used on Azure?</label>
                            <input type="text" class="form-control sync_tools" placeholder="No response set" value="<%= email_se_questions.hosted_O365.sync_tools %>"
                                name="email_se_questions[hosted_O365][sync_tools]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Which O365 version (shared, dedicated/BPOS-D/iTAR)?</label>
                            <%- make_custom_dropdown("email_se_questions[hosted_O365][which_O365]",
                                    email_se_questions.hosted_O365.which_O365, ["Shared", "Dedicated", "BPOS-D", "iTAR"], "which_O365") %>
                        </div>
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editEmailSystemsSE-3" style="color: mediumvioletred" data-toggle="collapse">On-prem Exchange + O365 (On-prem Appliance)
                        <i class="fa fa-arrows-v" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editEmailSystemsSE-3" class="collapse">
                    <h5 style="color: lightseagreen">Exchange Details</h5>
                    <div class="row">

                        <div class="form-group col-4 response-cell">
                            <label>What versions of Exchange are running?</label>
                            <input type="text" class="form-control exchange_version" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.exchange_version %>"
                                name="email_se_questions[prem_exchange_prem_O365][exchange_version]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How many locations are mailbox servers deployed?</label>
                            <input type="text" class="form-control number_of_mail_servers" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.number_of_mail_servers %>"
                                name="email_se_questions[prem_exchange_prem_O365][number_of_mail_servers]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Do you have an Enterprise CAL?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][has_enterprise_CAL]",
                                    email_se_questions.prem_exchange_prem_O365.has_enterprise_CAL, ["Yes", "No"], "has_enterprise_CAL") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Describe the HA/DR of the Exchange environment.</label>
                            <input type="text" class="form-control describe_exchange_env" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.describe_exchange_env %>"
                                name="email_se_questions[prem_exchange_prem_O365][describe_exchange_env]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Please provide a diagram of your exchange infrastructure and your AD Details.
                            </label>
                            <input type="text" class="form-control diagram" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.diagram %>"
                                name="email_se_questions[prem_exchange_prem_O365][diagram]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are DAGs being used?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][is_using_DAG]",
                                    email_se_questions.prem_exchange_prem_O365.is_using_DAG, ["Yes", "No"], "is_using_DAG") %>
                        </div>
                    </div>
                    <hr>

                    <h5 style="color: lightseagreen">Active Directory Details</h5>
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Is your AD multi-forest?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][is_multi_forest]",
                                    email_se_questions.prem_exchange_prem_O365.is_multi_forest, ["Yes", "No"], "is_multi_forest") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How many forests are there?</label>
                            <input type="text" class="form-control number_of_forests" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.number_of_forests %>"
                                name="email_se_questions[prem_exchange_prem_O365][number_of_forests]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Is this a Resource Forest arrangement?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][is_resource_forest_arrangement]",
                                    email_se_questions.prem_exchange_prem_O365.is_resource_forest_arrangement, ["Yes", "No"], "is_resource_forest_arrangement") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you using multi-domains?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][is_using_multi_domains]",
                                    email_se_questions.prem_exchange_prem_O365.is_using_multi_domains, ["Yes", "No"], "is_using_multi_domains") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>If yes, what is the structure of multi-domain architecture / their relationships?
                            </label>
                            <input type="text" class="form-control structure" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.multi_domain_structure %>"
                                name="email_se_questions[prem_exchange_prem_O365][multi_domain_structure]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Resource forest deployment?</label>
                            <input type="text" class="form-control resource_forest_deployment" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.resource_forest_deployment %>"
                                name="email_se_questions[prem_exchange_prem_O365][resource_forest_deployment]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How big is your AD? How many objects?</label>
                            <input type="text" class="form-control AD_size" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.AD_size %>"
                                name="email_se_questions[prem_exchange_prem_O365][AD_size]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Do you require a secure connection to LDAP?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][require_ldap]",
                                    email_se_questions.prem_exchange_prem_O365.require_ldap, ["Yes", "No"]) %>
                        </div>
                    </div>
                    <hr>

                    <h5 style="color: lightseagreen">O365 Details</h5>
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>What O365 license level do you have?</label>
                            <input type="text" class="form-control O365_version" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.O365_version %>"
                                name="email_se_questions[prem_exchange_prem_O365][O365_version]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you maintaining AD on-prem?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][is_maintaining_on_prem_AD]",
                                    email_se_questions.prem_exchange_prem_O365.is_maintaining_on_prem_AD, ["Yes", "No"], "is_maintaining_on_prem_AD") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you maintaining AD in Azure?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][is_maintaining_azure]",
                                    email_se_questions.prem_exchange_prem_O365.is_maintaining_azure, ["Yes", "No"], "is_maintaining_azure") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>When you create and admin mailboxes, do you do that in the on-prem AD, or in Azure?
                            </label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][is_admin_in_AD_or_azure]",
                                    email_se_questions.prem_exchange_prem_O365.is_admin_in_AD_or_azure, ["On-prem AD", "Azure"], "is_admin_in_AD_or_azure") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Sync tools used on Azure?</label>
                            <input type="text" class="form-control sync_tools" placeholder="No response set" value="<%= email_se_questions.prem_exchange_prem_O365.sync_tools %>"
                                name="email_se_questions[prem_exchange_prem_O365][sync_tools]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Which O365 version (shared, dedicated/BPOS-D/iTAR)?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_prem_O365][which_O365]",
                                    email_se_questions.prem_exchange_prem_O365.which_O365, ["Shared", "Dedicated", "BPOS-D", "iTAR"], "which_O365") %>
                        </div>
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editEmailSystemsSE-4" style="color: mediumvioletred" data-toggle="collapse">On-prem Exchange + O365 (Hosted Appliance)
                        <i class="fa fa-arrows-v" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editEmailSystemsSE-4" class="collapse">
                    <h5 style="color: lightseagreen">Exchange Details</h5>
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>What versions of Exchange are running?</label>
                            <input type="text" class="form-control exchange_version" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.exchange_version %>"
                                name="email_se_questions[prem_exchange_hosted_O365][exchange_version]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How many locations are mailbox servers deployed?</label>
                            <input type="text" class="form-control number_of_mail_servers" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.number_of_mail_servers %>"
                                name="email_se_questions[prem_exchange_hosted_O365][number_of_mail_servers]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Do you have an Enterprise CAL?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][has_enterprise_CAL]",
                                    email_se_questions.prem_exchange_hosted_O365.has_enterprise_CAL, ["Yes", "No"], "has_enterprise_CAL") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Describe the HA/DR of the Exchange environment.</label>
                            <input type="text" class="form-control describe_exchange_env" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.describe_exchange_env %>"
                                name="email_se_questions[prem_exchange_hosted_O365][describe_exchange_env]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Please provide a diagram of your exchange infrastructure and your AD Details.
                            </label>
                            <input type="text" class="form-control diagram" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.diagram %>"
                                name="email_se_questions[prem_exchange_hosted_O365][diagram]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are DAGs being used?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][is_using_DAG]",
                                    email_se_questions.prem_exchange_hosted_O365.is_using_DAG, ["Yes", "No"], "is_using_DAG") %>
                        </div>
                    </div>
                    <hr>

                    <h5 style="color: lightseagreen">Active Directory Details</h5>
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Is your AD multi-forest?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][is_multi_forest]",
                                    email_se_questions.prem_exchange_hosted_O365.is_multi_forest, ["Yes", "No"], "is_multi_forest") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How many forests are there?</label>
                            <input type="text" class="form-control number_of_forests" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.number_of_forests %>"
                                name="email_se_questions[prem_exchange_hosted_O365][number_of_forests]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Is this a Resource Forest arrangement?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][is_resource_forest_arrangement]",
                                    email_se_questions.prem_exchange_hosted_O365.is_resource_forest_arrangement, ["Yes", "No"], "is_resource_forest_arrangement") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you using multi-domains?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][is_using_multi_domains]",
                                    email_se_questions.prem_exchange_hosted_O365.is_using_multi_domains, ["Yes", "No"], "is_using_multi_domains") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>If yes, what is the structure of multi-domain architecture / their relationships?
                            </label>
                            <input type="text" class="form-control structure" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.structure %>"
                                name="email_se_questions[prem_exchange_hosted_O365][structure]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Resource forest deployment?</label>
                            <input type="text" class="form-control resource_forest_deployment" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.resource_forest_deployment %>"
                                name="email_se_questions[prem_exchange_hosted_O365][resource_forest_deployment]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How big is your AD? How many objects?</label>
                            <input type="text" class="form-control AD_size" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.AD_size %>"
                                name="email_se_questions[prem_exchange_hosted_O365][AD_size]">
                        </div>
                    </div>
                    <hr>

                    <h5 style="color: lightseagreen">O365 Details</h5>
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>What O365 license level do you have?</label>
                            <input type="text" class="form-control O365_version" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.O365_version %>"
                                name="email_se_questions[prem_exchange_hosted_O365][O365_version]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you maintaining AD on-prem?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][is_maintaining_on_prem_AD]",
                                    email_se_questions.prem_exchange_hosted_O365.is_maintaining_on_prem_AD, ["Yes", "No"], "is_maintaining_on_prem_AD") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are you maintaining AD in Azure?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][is_maintaining_azure]",
                                    email_se_questions.prem_exchange_hosted_O365.is_maintaining_azure, ["Yes", "No"], "is_maintaining_azure") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>When you create and admin mailboxes, do you do that in the on-prem AD, or in Azure?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][is_admin_in_AD_or_azure]",
                                    email_se_questions.prem_exchange_hosted_O365.is_admin_in_AD_or_azure, ["On-prem AD", "Azure"], "is_admin_in_AD_or_azure") %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Sync tools used on Azure?</label>
                            <input type="text" class="form-control sync_tools" placeholder="No response set" value="<%= email_se_questions.prem_exchange_hosted_O365.sync_tools %>"
                                name="email_se_questions[prem_exchange_hosted_O365][sync_tools]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Which O365 version (shared, dedicated/BPOS-D/iTAR)?</label>
                            <%- make_custom_dropdown("email_se_questions[prem_exchange_hosted_O365][which_O365]",
                                    email_se_questions.prem_exchange_hosted_O365.which_O365, ["Shared", "Dedicated", "BPOS-D", "iTAR"], "which_O365") %>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">