<!-- Displaying connector platform questions -->
<!-- Do not format this file in Visual Studio Code, will bork page. -->
<div class="container">
    <p><b>Connector Platform</b></p>
    <div id="connectorPlatform" class="display-header">
        <div id="connectorPlatformContainer">
            <div class="edit pull-right">
                <a href="#/" aria-hidden="true" id="editConnectorPlatformLink" data-toggle="modal">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
                </a>
            </div>
            <br>

            <form id="connectorPlatformForm" autocomplete="off" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
                <fieldset id="connectorPlatformFormFieldset" disabled>
                    <div class="form-group col-4 response-cell" hidden>
                        <label for="customerName">Customer Name</label>
                        <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="connector_platform_questions[name]">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col-4 response-cell">
                                <label style="font-size: 12px;">Which of these do you need to capture?</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 response-checkbox">
                                <p>
                                    <input type="checkbox" name="connector_platform_questions[facebook]" <%= connector_platform_questions.facebook
                                        ? "checked" : "" %> />
                                    <b> Facebook</b>
                                    <label>Number of Users</label>
                                    <input type="text" class="form-control" placeholder="No response set" id="facebook_number_of_users" value="<%= connector_platform_questions.facebook_number_of_users %>" name="connector_platform_questions[facebook_number_of_users]">
                                </p>
                            </div>
                            <div class="col-4 response-checkbox">
                                <p>
                                    <input type="checkbox" name="connector_platform_questions[linkedin]" <%= connector_platform_questions.linkedin
                                        ? "checked" : "" %> />
                                    <b> Linkedin</b>
                                    <label>Number of Users</label>
                                    <input type="text" class="form-control" placeholder="No response set" id="linkedin_number_of_users" value="<%= connector_platform_questions.linkedin_number_of_users %>" name="connector_platform_questions[linkedin_number_of_users]">
                                </p>
                            </div>
                            <div class="col-4 response-checkbox">
                                <p>
                                    <input type="checkbox" name="connector_platform_questions[twitter]" <%= connector_platform_questions.twitter
                                        ? "checked" : "" %> />
                                    <b> Twitter</b>
                                    <label>Number of Users</label>
                                    <input type="text" class="form-control" placeholder="No response set" id="twitter_number_of_users" value="<%= connector_platform_questions.twitter_number_of_users %>" name="connector_platform_questions[twitter_number_of_users]">
                                </p>
                            </div>
                            <div class="col-4 response-checkbox">
                                <p>
                                    <input type="checkbox" name="connector_platform_questions[google]" <%= connector_platform_questions.google ?
                                        "checked" : "" %> />
                                    <b> Google+</b>
                                    <label>Number of Users</label>
                                    <input type="text" class="form-control" placeholder="No response set" id="google_number_of_users" value="<%= connector_platform_questions.google_number_of_users %>" name="connector_platform_questions[google_number_of_users]">
                                </p>
                            </div>
                            <div class="col-4 response-checkbox">
                                <p>
                                    <input type="checkbox" name="connector_platform_questions[youtube]" <%= connector_platform_questions.youtube
                                        ? "checked" : "" %> />
                                    <b> YouTube</b>
                                    <label>Number of Users</label>
                                    <input type="text" class="form-control" placeholder="No response set" id="youtube_number_of_users" value="<%= connector_platform_questions.youtube_number_of_users %>" name="connector_platform_questions[youtube_number_of_users]">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[files]" <%= connector_platform_questions.files
                                    ? "checked" : "" %> />
                                <b> Files</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="files_number_of_users" value="<%= connector_platform_questions.files_number_of_users %>" name="connector_platform_questions[files_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[skype_in_cloud]" <%= connector_platform_questions.skype_in_cloud ?
                                    "checked" : "" %> />
                                <b> Skype Business</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="skype_in_cloud_number_of_users" value="<%= connector_platform_questions.skype_in_cloud_number_of_users %>" name="connector_platform_questions[skype_in_cloud_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[skype_on_prem]" <%= connector_platform_questions.skype_on_prem ?
                                    "checked" : "" %> />
                                <b> Skype On-prem</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="skype_on_prem_number_of_users" value="<%= connector_platform_questions.skype_on_prem_number_of_users %>" name="connector_platform_questions[skype_on_prem_number_of_users]">
                            </p>
                        </div>
                        <br>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[lync_on_prem]" <%= connector_platform_questions.lync_on_prem
                                    ? "checked" : "" %> />
                                <b> Lync On-prem</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="lync_on_prem_number_of_users" value="<%= connector_platform_questions.lync_on_prem_number_of_users %>" name="connector_platform_questions[lync_on_prem_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[one_drive]" <%= connector_platform_questions.one_drive
                                    ? "checked" : "" %> />
                                <b> One Drive</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="one_drive_number_of_users" value="<%= connector_platform_questions.one_drive_number_of_users %>" name="connector_platform_questions[one_drive_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[box]" <%= connector_platform_questions.box
                                    ? "checked" : "" %> />
                                <b> Box</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="box_number_of_users" value="<%= connector_platform_questions.box_number_of_users %>" name="connector_platform_questions[box_number_of_users]">
                            </p>
                        </div>

                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[bloomberg]" <%= connector_platform_questions.bloomberg
                                    ? "checked" : "" %> />
                                <b> Bloomberg</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="bloomberg_number_of_users" value="<%= connector_platform_questions.bloomberg_number_of_users %>" name="connector_platform_questions[bloomberg_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[yammer]" <%= connector_platform_questions.yammer
                                    ? "checked" : "" %> />
                                <b> Yammer</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="yammer_number_of_users" value="<%= connector_platform_questions.yammer_number_of_users %>" name="connector_platform_questions[yammer_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[jive]" <%= connector_platform_questions.jive
                                    ? "checked" : "" %> />
                                <b> Jive</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="jive_number_of_users" value="<%= connector_platform_questions.jive_number_of_users %>" name="connector_platform_questions[jive_number_of_users]">
                            </p>
                        </div>
                        <br>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[chatter]" <%= connector_platform_questions.chatter
                                    ? "checked" : "" %> />
                                <b> Chatter</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="chatter_number_of_users" value="<%= connector_platform_questions.chatter_number_of_users %>" name="connector_platform_questions[chatter_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[slack]" <%= connector_platform_questions.slack
                                    ? "checked" : "" %> />
                                <b> Slack</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="slack_number_of_users" value="<%= connector_platform_questions.slack_number_of_users %>" name="connector_platform_questions[slack_number_of_users]">
                            </p>
                        </div>
                        <div class="col-4 response-checkbox">
                            <p>
                                <input type="checkbox" name="connector_platform_questions[symphony]" <%= connector_platform_questions.symphony
                                    ? "checked" : "" %> />
                                <b> Symphony</b>
                                <label>Number of Users</label>
                                <input type="text" class="form-control" placeholder="No response set" id="symphony_number_of_users" value="<%= connector_platform_questions.symphony_number_of_users %>" name="connector_platform_questions[symphony_number_of_users]">
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Capture Vendor</label>
                        <input type="text" class="form-control" placeholder="No response set" id="capture_vendor" value="<%= connector_platform_questions.capture_vendor %>" name="connector_platform_questions[capture_vendor]">
                    </div>

                    <br>
                    <div class="form-group">
                        <label>Comments</label>
                        <textarea class="form-control" maxlength="5000" rows="5" name="connector_platform_questions[comments]" placeholder="5000 characters max" form="connectorPlatformForm"><%= connector_platform_questions.comments %></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr class="rainbow">
</div>
