<!-- Displaying journaling questions-->
<div id="journaling" class="display-header">
    <h5>
        <a href="#journalingContainer" data-toggle="collapse" aria-expanded="false" onclick="change_arrow($(this));">
            Journaling
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="journalingContainer" class="collapse">
        <div class="edit pull-right">
            <a href="#/" id="editJournalingLink" aria-hidden="true" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
            </a>
        </div>
        <br>

        <form id="journalingForm" autocomplete="off" action="/index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="journalingFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="journaling_questions[name]">
                </div>

                <h5>
                    <a href="#editExchangeDetails" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Exchange Details Appliances
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editExchangeDetails" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Exchange on-prem</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.exchange.exchange_on_prem %>"
                                name="journaling_questions[exchange][exchange_on_prem]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>O365</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.exchange.has_O365 %>"
                                name="journaling_questions[exchange][has_O365]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Mixed mode</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.exchange.is_mixed_mode %>"
                                name="journaling_questions[exchange][is_mixed_mode]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Number of mailboxes</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.exchange.number_of_mailboxes %>"
                                name="journaling_questions[exchange][number_of_mailboxes]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Average message count</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.exchange.avg_message_count %>"
                                name="journaling_questions[exchange][avg_message_count]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Changes in business?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.exchange.change_in_business %>"
                                name="journaling_questions[exchange][change_in_business]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Has Enterprise CAL?</label>
                            <%- make_custom_dropdown("journaling_questions[exchange][has_enterprise_CAL]",
                                    journaling_questions.exchange.has_enterprise_CAL, ["Yes", "No"]) %>
                        </div>
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editMailVol" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Mail volume and journaling Appliances
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editMailVol" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Users to be journaled</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.mail_volume_metrics.users_journaled %>"
                                name="journaling_questions[mail_volume_metrics][users_journaled]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Messages per user (weekly/monthly)</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.mail_volume_metrics.user_messages %>"
                                name="journaling_questions[mail_volume_metrics][user_messages]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Message volume derivation method</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.mail_volume_metrics.message_derive %>"
                                name="journaling_questions[mail_volume_metrics][message_derive]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Average message size</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.mail_volume_metrics.avg_message_size %>"
                                name="journaling_questions[mail_volume_metrics][avg_message_size]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Average daily journal message count</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.mail_volume_metrics.avg_message_count %>"
                                name="journaling_questions[mail_volume_metrics][avg_message_count]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Will all users be journaled?</label>
                            <%- make_custom_dropdown("journaling_questions[mail_volume_metrics][all_user_journaling]",
                                    journaling_questions.mail_volume_metrics.all_user_journaling, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Plans to move to O365? (Timeline?)</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.mail_volume_metrics.move_to_O365 %>"
                                name="journaling_questions[mail_volume_metrics][move_to_O365]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Any custom configuration notes?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= journaling_questions.mail_volume_metrics.custom_config %>"
                                name="journaling_questions[mail_volume_metrics][custom_config]">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">