<!-- Displaying appliance questions -->
<div id="appliances" class="display-header">
    <h5><a href="#applianceSizing" data-toggle="collapse">Appliances
            <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </a></h5>
    <br>

    <div id="applianceSizing" class="collapse">
        <div class="edit pull-right">
            <a href="#/" id="editAppliancesLink" aria-hidden="true" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i></a>
        </div>
        <br>

        <form id="appliancesForm" autocomplete="off" action="/index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="appliancesFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set"
                           value="<%= customer.name %>"
                           name="appliance_questions[name]">
                </div>

                <h5><a href="#editapplianceDetails-ApplianceSizing" style="color: mediumvioletred" data-toggle="collapse">Appliance Sizing
                        <i class="fa fa-arrows-v" aria-hidden="true"></i></a>
                </h5>

                <div id="editapplianceDetails-ApplianceSizing" class="collapse">
                    <div class="row">
                        <div class="form-group, col-4 response-cell">
                            <label>Messages per day</label>
                            <input type="number" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.messages_per_day %>"
                                   name="appliance_questions[messages_per_day]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Average message size</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.avg_message_size %>"
                                   name="appliance_questions[avg_message_size]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Number of mailboxes</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.number_of_mailboxes %>"
                                   name="appliance_questions[number_of_mailboxes]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Searches per day</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.searches_per_day %>"
                                   name="appliance_questions[searches_per_day]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>UI logins per day</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.ui_logins_per_day %>"
                                   name="appliance_questions[ui_logins_per_day]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Exports per day</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.exports_per_day %>"
                                   name="appliance_questions[exports_per_day]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Average export size</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.avg_export_size %>"
                                   name="appliance_questions[avg_export_size]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Active directory size</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.AD_size %>"
                                   name="appliance_questions[AD_size]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Virtual or physical hardware appliance preference?</label>
                            <%- make_custom_dropdown("appliance_questions[appliance_preference]",
                                    appliance_questions.appliance_preference, ["Physical", "Virtual"]) %>
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>Does the customer have a VMWare environment?</label>
                            <%- make_custom_dropdown("appliance_questions[has_vmware_env]",
                                    appliance_questions.has_vmware_env, ["Yes", "No"]) %>
                        </div>
                        <div class="col-4 response-cell">
                            <label>Number of appliances recommended?</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.number_of_appliance_recommended %>"
                                   name="appliance_questions[number_of_appliance_recommended]">
                        </div>
                        <div class="form-group, col-4 response-cell">
                            <label>DR footprint?</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.DR_footprint %>"
                                   name="appliance_questions[DR_footprint]">
                        </div>
                    </div>
                    <br>
                </div>

                <h5><a href="#editapplianceDetails-ForSE" style="color: mediumvioletred" data-toggle="collapse">For SE
                        <i class="fa fa-arrows-v" aria-hidden="true"></i></a>
                </h5>

                <div id="editapplianceDetails-ForSE" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>How many of each purpose (UI, export, archiving, stubbing)?</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.purposes %>"
                                   name="appliance_questions[purposes]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Archive proxy?</label>
                            <%- make_custom_dropdown("appliance_questions[archive_proxy]",
                                    appliance_questions.archive_proxy, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Transport agent</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.transport_agent %>"
                                   name="appliance_questions[transport_agent]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Outlook view manager</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.outlook_view_manager %>"
                                   name="appliance_questions[outlook_view_manager]">
                        </div>
                    </div>
                    <br>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">

<!-- APPLIANCE UPDATE -->
<div class="modal fade" id="editAppliances" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="lineModalLabel">Appliance information</h3>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <form action="/index/<%= customer.name %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input type="text" readonly class="form-control" placeholder="No response set"
                               value="<%= customer.name %>"
                               name="appliance_questions[name]">
                    </div>

                    <h5><a href="#editapplianceDetails-ApplianceSizing" style="color: mediumvioletred" data-toggle="collapse">Appliance Sizing
                            <i class="fa fa-arrows-v" aria-hidden="true"></i></a>
                    </h5>

                    <div id="editapplianceDetails-ApplianceSizing" class="collapse">
                        <div class="form-group">
                            <label>Messages per day</label>
                            <input type="number" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.messages_per_day %>"
                                   name="appliance_questions[messages_per_day]">
                        </div>
                        <div class="form-group">
                            <label>Average message size</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.avg_message_size %>"
                                   name="appliance_questions[avg_message_size]">
                        </div>
                        <div class="form-group">
                            <label>Number of mailboxes</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.number_of_mailboxes %>"
                                   name="appliance_questions[number_of_mailboxes]">
                        </div>
                        <div class="form-group">
                            <label>Searches per day</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.searches_per_day %>"
                                   name="appliance_questions[searches_per_day]">
                        </div>
                        <div class="form-group">
                            <label>UI logins per day</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.ui_logins_per_day %>"
                                   name="appliance_questions[ui_logins_per_day]">
                        </div>
                        <div class="form-group">
                            <label>Exports per day</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.exports_per_day %>"
                                   name="appliance_questions[exports_per_day]">
                        </div>
                        <div class="form-group">
                            <label>Average export size</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.avg_export_size %>"
                                   name="appliance_questions[avg_export_size]">
                        </div>
                        <div class="form-group">
                            <label>Active directory size</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.AD_size %>"
                                   name="appliance_questions[AD_size]">
                        </div>
                        <div class="form-group">
                            <label>Virtual or physical hardware appliance preference?</label>
                            <%- make_custom_dropdown("appliance_questions[appliance_preference]",
                                    appliance_questions.appliance_preference, ["Physical", "Virtual"]) %>
                        </div>
                        <div class="form-group">
                            <label>Does the customer have a VMWare environment?</label>
                            <%- make_custom_dropdown("appliance_questions[has_vmware_env]",
                                    appliance_questions.has_vmware_env, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group">
                            <label>Number of appliances recommended?</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.number_of_appliance_recommended %>"
                                   name="appliance_questions[number_of_appliance_recommended]">
                        </div>
                        <div class="form-group">
                            <label>DR footprint?</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.DR_footprint %>"
                                   name="appliance_questions[DR_footprint]">
                        </div>
                    </div>

                    <h5><a href="#editapplianceDetails-ForSE" style="color: mediumvioletred" data-toggle="collapse">For SE
                            <i class="fa fa-arrows-v" aria-hidden="true"></i></a>
                    </h5>

                    <div id="editapplianceDetails-ForSE" class="collapse">
                        <div class="form-group">
                            <label>How many of each purpose (UI, export, archiving, stubbing)?</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.purposes %>"
                                   name="appliance_questions[purposes]">
                        </div>
                        <div class="form-group">
                            <label>Archive proxy?</label>
                            <%- make_custom_dropdown("appliance_questions[archive_proxy]",
                                    appliance_questions.archive_proxy, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group">
                            <label>Transport agent</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.transport_agent %>"
                                   name="appliance_questions[transport_agent]">
                        </div>
                        <div class="form-group">
                            <label>Outlook view manager</label>
                            <input type="text" class="form-control" placeholder="No response set"
                                   value="<%= appliance_questions.outlook_view_manager %>"
                                   name="appliance_questions[outlook_view_manager]">
                        </div>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" role="button">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>