<!-- Displaying usage questions -->
<div id="usage" class="display-header">
    <h5>
        <a href="#usageContainer" data-toggle="collapse" onclick="change_arrow($(this));">
            Usage
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="usageContainer" class="collapse">
        <div class="edit pull-right">
            <a href="#/" id="editUsageLink" aria-hidden="true" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
            </a>
        </div>
        <br>

        <form id="usageForm" autocomplete="off" action="/index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="usageFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="usage_questions[name]">
                </div>

                <!-- Edit layers -->
                <h5>
                    <a href="#editUsage-Supervision" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Supervision
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editUsage-Supervision" class="collapse">
                    <h5>
                        <a href="#editUsage-Supervision-Notes" style="color: lightseagreen; margin-left: 3em;" data-toggle="collapse" onclick="change_arrow($(this));">
                            Notes / Details
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                    </h5>

                    <div id="editUsage-Supervision-Notes" class="collapse">
                        <!-- Notes/Details -->
                        <div class="row">
                            <div class="form-group col-4 response-cell">
                                <label>How many Compliance Divisions are required?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.compliance_divisions %>"
                                    name="usage_questions[supervision][compliance_divisions]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>What supervision system are you currently running?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.supervision_system %>"
                                    name="usage_questions[supervision][supervision_system]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>What are your current pain-points?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.pain_points %>"
                                    name="usage_questions[supervision][pain_points]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Are there deficiencies in your current process that put you at risk?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.deficiencies %>"
                                    name="usage_questions[supervision][deficiencies]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>What are the customer's lines of business that has different Supervision requirements?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.business_supervision_requirements %>"
                                    name="usage_questions[supervision][business_supervision_requirements]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Is review centralized / decentralized?</label>
                                <%- make_custom_dropdown("usage_questions[supervision][review]",
                                        usage_questions.supervision.review, ["Centralized", "Decentralized"]) %>
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>What is the escalation process when issues / violations are found?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.escalation_process %>"
                                    name="usage_questions[supervision][escalation_process]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Who is responsible for reviewing which group / user?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.system_record.responsible %>"
                                    name="usage_questions[supervision][system_record][responsible]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>How is this data loaded into your current system?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.system_record.how_is_data_loaded %>"
                                    name="usage_questions[supervision][system_record][how_is_data_loaded]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Do you need to migrate your existing policies?</label>
                                <%- make_custom_dropdown("usage_questions[supervision][need_to_migrate_policies]",
                                        usage_questions.supervision.need_to_migrate_policies, ["Yes", "No"]) %>
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Do you already have whitelists, disclaimers headers, etc. (pre-approved content) that needs
                                    to be excluded?</label>
                                <%- make_custom_dropdown("usage_questions[supervision][whitelists]",
                                        usage_questions.supervision.whitelists, ["Yes", "No"]) %>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Random Sampling -->
                    <h5>
                        <a href="#editUsage-Supervision-Random" style="color: lightseagreen; margin-left:3em;" data-toggle="collapse" onclick="change_arrow($(this));">
                            Random Sampling
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                    </h5>

                    <div id="editUsage-Supervision-Random" class="collapse">
                        <div class="row">
                            <div class="form-group col-4 response-cell">
                                <label>Do you have sampling rules?</label>
                                <%- make_custom_dropdown("usage_questions[supervision][random_sampling][has_rules]",
                                        usage_questions.supervision.random_sampling.has_rules, ["Yes", "No"]) %>
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Do you have multiple sampling rates that apply to a given person (i.e. different message
                                    types, internal vs external)?</label>
                                <%- make_custom_dropdown("usage_questions[supervision][random_sampling][multi_sampling]",
                                        usage_questions.supervision.random_sampling.multi_sampling, ["Yes", "No"]) %>
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Intention of sampling: top up or not?</label>
                                <%- make_custom_dropdown("usage_questions[supervision][random_sampling][sampling_intention]",
                                        usage_questions.supervision.random_sampling.sampling_intention, ["Top up", "Not"]) %>
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Do you directly notify violators for certain types of offenses?</label>
                                <%- make_custom_dropdown("usage_questions[supervision][random_sampling][notify_violators]",
                                        usage_questions.supervision.random_sampling.notify_violators, ["Yes", "No"]) %>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Reporting Requirements -->
                    <h5>
                        <a href="#editUsage-Supervision-requirements" style="color: lightseagreen; margin-left:3em;" data-toggle="collapse" onclick="change_arrow($(this));">
                            Reporting Requirements
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                    </h5>

                    <div id="editUsage-Supervision-requirements" class="collapse">
                        <div class="row">
                            <div class="form-group col-4 response-cell">
                                <label>What decisions are made based on these reports?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.report_requirements.decisions %>"
                                    name="usage_questions[supervision][report_requirements][decisions]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>What reports are required for roll-out? Please provide samples.</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.report_requirements.roll_out_reports %>"
                                    name="usage_questions[supervision][report_requirements][roll_out_reports]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>What reports are nice to have in the future?</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.supervision.report_requirements.future_reports %>"
                                    name="usage_questions[supervision][report_requirements][future_reports]">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- One edit level -->


                <!-- Stubbing -->
                <h5>
                    <a href="#editUsage-Stubbing" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Stubbing
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editUsage-Stubbing" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Is the customer interested in Stubbing?</label>
                            <%- make_custom_dropdown("usage_questions[stubbing][interested_in_stubbing]",
                                    usage_questions.stubbing.interested_in_stubbing, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>If within these boundaries, and if you intend to use it, what’s your stubbing policy?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.stubbing.stubbing_policy %>"
                                name="usage_questions[stubbing][stubbing_policy]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How many users is the customer going to stub for?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.stubbing.number_of_stubbing_users %>"
                                name="usage_questions[stubbing][number_of_stubbing_users]">
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Selective Disposition -->
                <h5>
                    <a href="#editUsage-Selective" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Selective Disposition
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editUsage-Selective" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>What are the scenarios would you need to apply it?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.selective_disposition.scenarios %>"
                                name="usage_questions[selective_disposition][scenarios]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How many messages would you want to selectively dispose?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.selective_disposition.messages_to_dispose %>"
                                name="usage_questions[selective_disposition][messages_to_dispose]">
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Content Collector - Files -->
                <h5>
                    <a hidden href="#editUsage-Files" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Content Collector - Files
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div hidden id="editUsage-Files" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Is the customer interested in CC4Files?</label>
                            <%- make_custom_dropdown("usage_questions[content_collector_files][interested_in_CC4Files]",
                                    usage_questions.content_collector_files.interested_in_CC4Files, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Where are the files located that you want to collect? (We only support Windows based file servers
                                and on-prem Sharepoint.)</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.files_location %>"
                                name="usage_questions[content_collector_files][files_location]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Is the customer willing to install an agent on each machine they want to collect data from?</label>
                            <%- make_custom_dropdown("usage_questions[content_collector_files][willing_to_install_agent]",
                                    usage_questions.content_collector_files.willing_to_install_agent, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What's the volume of files?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.volume_of_files %>"
                                name="usage_questions[content_collector_files][volume_of_files]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Are there unusual File types?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.unusual_file_types %>"
                                name="usage_questions[content_collector_files][unusual_file_types]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Average and largest file expected to capture?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.avg_file_size %>"
                                name="usage_questions[content_collector_files][avg_file_size]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Customer understands this is for People Based Legal Holds only?</label>
                            <%- make_custom_dropdown("usage_questions[content_collector_files][understand_legal_holds]",
                                    usage_questions.content_collector_files.understand_legal_holds, ["Yes", "No"]) %>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- Content Collector - PSTs -->
                <h5>
                    <a href="#editUsage-PST" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Content Collector - PSTs
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editUsage-PST" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Is the customer interested in CC4PSTs?</label>
                            <%- make_custom_dropdown("usage_questions[content_collector_PST][interested_in_CC4FPST]",
                                    usage_questions.content_collector_PST.interested_in_CC4FPST, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Average size?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_PST.avg_file_size %>"
                                name="usage_questions[content_collector_PST][avg_file_size]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Frequency?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_PST.frequency %>"
                                name="usage_questions[content_collector_PST][frequency]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Use case?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_PST.use_case %>"
                                name="usage_questions[content_collector_PST][use_case]">
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Legal holds -->
                <h5>
                    <a href="#editUsage-Legal" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Legal Holds
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editUsage-Legal" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Custodian based, ad-hoc, or both?</label>
                            <%- make_custom_dropdown("usage_questions[legal_holds][custodian_or_ad_hoc]",
                                    usage_questions.legal_holds.custodian_or_ad_hoc, ["Custodian-based", "Ad-hoc", "Custodian-based and Ad-hoc"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Count of LH's in current solution</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.legal_holds.number_of_legal_holds %>"
                                name="usage_questions[legal_holds][number_of_legal_holds]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Number of unique custodians</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.legal_holds.number_of_unique_custodians %>"
                                name="usage_questions[legal_holds][number_of_unique_custodians]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Largest hold (in terms of custodians)</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.legal_holds.largest_hold %>"
                                name="usage_questions[legal_holds][largest_hold]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What LH Notification system is being used today?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.legal_holds.notification_system %>"
                                name="usage_questions[legal_holds][notification_system]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Third Party Solutions for LH Management?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.legal_holds.third_party_solutions %>"
                                name="usage_questions[legal_holds][third_party_solutions]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>API interests? What are some of the use cases?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.legal_holds.api_use_cases %>"
                                name="usage_questions[legal_holds][api_use_cases]">
                        </div>
                    </div>
                </div>
                <hr>

                <!-- End user search -->
                <h5>
                    <a href="#editUsage-End" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        End User Search
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editUsage-End" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>How many end users will have access to their own mailbox?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.end_user_search.number_of_user_access %>"
                                name="usage_questions[end_user_search][number_of_user_access]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Do end users need to have access to Archive within Outlook? What versions of Outlook?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.end_user_search.need_outlook %>"
                                name="usage_questions[end_user_search][need_outlook]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Do you want to access archives through Mobile Apps?</label>
                            <%- make_custom_dropdown("usage_questions[end_user_search][need_mobile_apps]",
                                    usage_questions.end_user_search.need_mobile_apps, ["Yes", "No"]) %>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Folder Sync -->
                <h5>
                    <a href="#editUsage-Sync" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Folder Sync
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editUsage-Sync" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Is the customer interested in Folder Sync?</label>
                            <%- make_custom_dropdown("usage_questions[folder_sync][interested_in_folder_sync]",
                                    usage_questions.folder_sync.interested_in_folder_sync, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>For how many users?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.folder_sync.number_of_users_interested %>"
                                name="usage_questions[folder_sync][number_of_users_interested]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Service Account?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.folder_sync.service_account %>"
                                name="usage_questions[folder_sync][service_account]">
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Transport agent -->
                <h5>
                    <a href="#editusage-transport" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Transport Agent
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editusage-transport" class="collapse">
                    <div class="col">
                        <br>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.transport_agent %>" name="usage_questions[transport_agent]">
                        <p>Note: This feature requires customer to have .NET 3.5 installed.</p>
                    </div>
                </div>
                <hr>

                <!-- Export -->
                <h5>
                    <a href="#editusage-export" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Export
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editusage-export" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Volume / average size and frequency</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.export.volume %>" name="usage_questions[export][volume]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Preferred Export formats?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.export.preferred_export_format %>"
                                name="usage_questions[export][preferred_export_format]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Where does the data typically go?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.export.where_data_goes %>"
                                name="usage_questions[export][where_data_goes]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Does customer expect to auto upload data?</label>
                            <%- make_custom_dropdown("usage_questions[export][expect_auto_upload]",
                                    usage_questions.export.expect_auto_upload, ["Yes", "No"]) %>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Outlook view manager -->
                <h5>
                    <a href="#editusage-outlook" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Outlook View Manager
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editusage-outlook" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Do you want to allow end users to access the archive? </label>
                            <%- make_custom_dropdown("usage_questions[outlook_view_manager][allow_users_access]",
                                    usage_questions.outlook_view_manager.allow_users_access, ["Yes", "No"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Do you use OWA?</label>
                            <%- make_custom_dropdown("usage_questions[outlook_view_manager][is_using_OWA]",
                                    usage_questions.outlook_view_manager.is_using_OWA, ["Yes", "No"]) %>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">