<!-- Displaying import questions -->
<div id="import" class="display-header">
    <h5>
        <a href="#importContent" data-toggle="collapse" onclick="change_arrow($(this));">
            Import
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="importContent" class="collapse">
        <div class="edit pull-right">
            <a href="#/" aria-hidden="true" id="editImportLink" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
            </a>
        </div>
        <br>

        <form id="importForm" autocomplete="off" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="importFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="import_questions[name]">
                </div>

                <div class="row">
                    <div class="form-group col-4 response-cell">
                        <label>Need to migrate legacy data?</label>
                        <%- make_custom_dropdown("import_questions[need_to_migrate_legacy_data]",
                                import_questions.need_to_migrate_legacy_data, ["Yes", "No"]) %>
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Existing archive?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.is_existing_archive %>"
                            name="import_questions[is_existing_archive]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Amount of data to be migrated?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.amount_of_data_to_migrate %>"
                            name="import_questions[amount_of_data_to_migrate]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Expected timeline?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.expected_timeline %>" name="import_questions[expected_timeline]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Who is doing the conversion?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.conversion_agent %>" name="import_questions[conversion_agent]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>SoW / Service brief?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.service_brief %>" name="import_questions[service_brief]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Storage</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.storage %>" name="import_questions[storage]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Format</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.format %>" name="import_questions[format]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Retention policy for import data?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.retention_policy %>" name="import_questions[retention_policy]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Encryption type for drives?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.encryption_type %>" name="import_questions[encryption_type]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>How old is the oldest data you have?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= import_questions.oldest_data %>" name="import_questions[oldest_data]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Do you have a record of former employees and their email addresses and aliases?</label>
                        <%- make_custom_dropdown("import_questions[employee_records]",
                                import_questions.employee_records, ["Yes", "No"]) %>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">