<!-- Displaying import questions -->
<div id="import" class="display-header">
    <h5><a href="#importContent" data-toggle="collapse">Import
            <i class="fa fa-arrows-v" aria-hidden="true"></i></a>
    </h5><br>

    <div id="importContent" class="collapse">
        <div class="edit pull-right">
            <a href="#" aria-hidden="true" data-target="#editImport" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
        </div>
        <br>

        <div id="importDetails" class="row">
            <div id="" class="col-4 response-cell"><p><b>Do you need to migrate Legacy Data?</b>
                    <br><%= import_questions.need_to_migrate_legacy_data %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Existing Archive</b>
                    <br><%= import_questions.is_existing_archive %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Amount of data to be migrated</b>
                    <br><%= import_questions.amount_of_data_to_migrate %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Expected Timeline</b>
                    <br><%= import_questions.expected_timeline %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Who's doing the conversion?</b>
                    <br><%= import_questions.conversion_agent %></p></div>
            <div id="" class="col-4 response-cell"><p><b>SoW / Service Brief</b>
                    <br><%= import_questions.service_brief %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Storage</b>
                    <br><%= import_questions.storage %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Format</b>
                    <br><%= import_questions.format %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Retention policy for Import Data</b>
                    <br><%= import_questions.retention_policy %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Encryption Type for Drives</b>
                    <br><%= import_questions.encryption_type %></p></div>
            <div id="" class="col-4 response-cell"><p><b>How old is the oldest data you have?</b>
                    <br><%= import_questions.oldest_data %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Do you have a record of former employees and their email addresses and
                        aliases?</b>
                    <br><%= import_questions.employee_records %></p></div>
        </div>
    </div>
</div>
<hr class="rainbow">

<!-- IMPORT UPDATE -->
<div class="modal fade" id="editImport" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="lineModalLabel">Import project information</h3>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <form action="/index/<%= customer.name %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input type="text" readonly class="form-control" placeholder="No response set"
                               value="<%= customer.name %>"
                               name="import_questions[name]">
                    </div>

                    <h5 style="color: mediumvioletred">Import Project</h5>
                    <div class="form-group">
                        <label>Need to migrate legacy data?</label>
                        <%- make_custom_dropdown("import_questions[need_to_migrate_legacy_data]",
                                import_questions.need_to_migrate_legacy_data, ["Yes", "No"]) %>
                    </div>
                    <div class="form-group">
                        <label>Existing archive?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.is_existing_archive %>"
                               name="import_questions[is_existing_archive]">
                    </div>
                    <div class="form-group">
                        <label>Amount of data to be migrated?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.amount_of_data_to_migrate %>"
                               name="import_questions[amount_of_data_to_migrate]">
                    </div>
                    <div class="form-group">
                        <label>Expected timeline?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.expected_timeline %>"
                               name="import_questions[expected_timeline]">
                    </div>
                    <div class="form-group">
                        <label>Who is doing the conversion?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.conversion_agent %>"
                               name="import_questions[conversion_agent]">
                    </div>
                    <div class="form-group">
                        <label>SoW / Service brief?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.service_brief %>"
                               name="import_questions[service_brief]">
                    </div>
                    <div class="form-group">
                        <label>Storage</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.storage %>"
                               name="import_questions[storage]">
                    </div>
                    <div class="form-group">
                        <label>Format</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.format %>"
                               name="import_questions[format]">
                    </div>
                    <div class="form-group">
                        <label>Retention policy for import data?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.retention_policy %>"
                               name="import_questions[retention_policy]">
                    </div>
                    <div class="form-group">
                        <label>Encryption type for drives?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.encryption_type %>"
                               name="import_questions[encryption_type]">
                    </div>
                    <div class="form-group">
                        <label>How old is the oldest data you have?</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= import_questions.oldest_data %>"
                               name="import_questions[oldest_data]">
                    </div>
                    <div class="form-group">
                        <label>Do you have a record of former employees and their email addresses and aliases?</label>
                        <%- make_custom_dropdown("import_questions[employee_records]",
                                import_questions.employee_records, ["Yes", "No"]) %>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" role="button">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
