<!-- Displaying Supervision -->
<div class="container">
    <p><b>Supervision</b></p>
    <div id="Supervision" class="display-header">
        <div id="SupervisionContent">
            <div class="edit pull-right">
                <a href="#/" aria-hidden="true" id="editSupervisionLink" data-toggle="modal">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
                </a>
            </div>
            <br>

            <form id="supervisionForm" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
                <fieldset id="supervisionFormFieldset" disabled>
                    <div class="form-group col-4 response-cell" hidden>
                        <label for="customerName">Customer Name</label>
                        <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="supervision_questions[name]">
                    </div>

                    <div class="row">
                        <!-- Single questions here -->
                        <div class="form-group col-4 response-cell">
                            <label>What supervision solution are you currently using for digital communication review?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm_current %>"
                                name="supervision_questions[digital_comm_current]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What current pain points do you have with your process and/or supervision solution?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.pain_points %>"
                                name="supervision_questions[pain_points]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What feature/functionality needs do you not have in current supervision solution?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.not_haves %>"
                                name="supervision_questions[not_haves]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Which regulatory body/ies oversee your business practices?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.regulator %>"
                                name="supervision_questions[regulator]">
                        </div>
                    </div>
                    <hr>

                    <% include Supervision/EditSupervisionOverview.ejs %>
                    <% include Supervision/EditSupervisoryWorkflow.ejs %>
                    <% include Supervision/EditAdministrativeFunctions.ejs %>
                    <% include Supervision/EditRuleLexiconMaintenance.ejs %>

                    <br>
                    <div class="form-group">
                        <label>Comments</label>
                        <textarea class="form-control" maxlength="5000" rows="5" name="supervision_questions[comments]" placeholder="5000 characters max" form="supervisionForm"><%= supervision_questions.comments %></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr class="rainbow ">
</div>
