<!-- Displaying RFEs -->
<div id="rfes" class="display-header">
    <h5><a href="#rfeContent" data-toggle="collapse">RFEs
            <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </a></h5>
    <div id="rfeContent" class="collapse">
        <div class="edit pull-right">
            <a href="#" aria-hidden="true" data-target="#editRFE" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
        </div>
        <br>

        <div id="rfeDetails" class="row">
            <div id="" class="col-4 response-cell"><p><b>Showstoppers (Will not buy w/o)</b>
                    <br><%= rfe_questions.showstoppers_buy %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Showstoppers (Will not rollout w/o)</b>
                    <br><%= rfe_questions.showstoppers_rollout %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Parity features</b>
                    <br><%= rfe_questions.parity_features %></p></div>
            <div id="" class="col-4 response-cell"><p><b>Nice to haves</b>
                    <br><%= rfe_questions.nice_to_haves %></p></div>
        </div>
    </div>
    <br>
</div>
<hr class="rainbow">

<!-- RFE UPDATE -->
<div class="modal fade" id="editRFE" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="lineModalLabel">Gaps and RFEs</h3>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <form action="/index/<%= customer.name %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input type="text" readonly class="form-control" placeholder="No response set"
                               value="<%= customer.name %>"
                               name="rfe_questions[name]">
                    </div>
                    <div class="form-group">
                        <label>Showstoppers (Will not buy w/o)</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= rfe_questions.showstoppers_buy %>"
                               name="rfe_questions[showstoppers_buy]">
                    </div>
                    <div class="form-group">
                        <label>Showstoppers (Will not rollout w/o)</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= rfe_questions.showstoppers_rollout %>"
                               name="rfe_questions[showstoppers_rollout]">
                    </div>
                    <div class="form-group">
                        <label>Parity features</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= rfe_questions.parity_features %>"
                               name="rfe_questions[parity_features]">
                    </div>
                    <div class="form-group">
                        <label>Nice to haves</label>
                        <input type="text" class="form-control" placeholder="No response set"
                               value="<%= rfe_questions.nice_to_haves %>"
                               name="rfe_questions[nice_to_haves]">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" role="button">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
