<!-- Displaying Finserv Supervision -->

<div id="FinservSupervision" class="display-header">
    <h5>
        <a href="#FinservSupervisionContent" data-toggle="collapse" onclick="change_arrow($(this));">
            FINSERV Supervision
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="FinservSupervisionContent" class="collapse">
        <div class="edit pull-right">
            <a href="#/" aria-hidden="true" id="editFinservSupervisionLink" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
            </a>
        </div>
        <br>

        <form id="finservSupervisionForm" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="finservSupervisionFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="finserv_supervision_questions[name]">
                </div>

                <div class="row">
                    <!-- Single questions here -->
                    <div class="form-group col-4 response-cell">
                        <label>What supervision solution are you currently using for digital communication review?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm_current %>"
                            name="finserv_supervision_questions[digital_comm_current]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>What current pain points do you have with your process and/or supervision solution?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.pain_points %>"
                            name="finserv_supervision_questions[pain_points]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>What feature/functionality needs do you not have in current supervision solution?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.not_haves %>"
                            name="finserv_supervision_questions[not_haves]">
                    </div>
                    <div class="form-group col-4 response-cell">
                        <label>Which regulatory body/ies oversee your business practices?</label>
                        <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.regulator %>"
                            name="finserv_supervision_questions[regulator]">
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editSupervisionOverview" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Current Supervision Overview – Digital Communication Review
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editSupervisionOverview" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>Number of Monitored Users</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.monitored_users %>"
                                name="finserv_supervision_questions[digital_comm][monitored_users]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Number of Reviewers</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.reviewers %>"
                                name="finserv_supervision_questions[digital_comm][reviewers]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Number of Administrators</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.admins %>"
                                name="finserv_supervision_questions[digital_comm][admins]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Number of Rules and Lexicons</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.rules_lexicons %>"
                                name="finserv_supervision_questions[digital_comm][rules_lexicons]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Number of Whitelist/SPAM Rules</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.whitelist_rules %>"
                                name="finserv_supervision_questions[digital_comm][whitelist_rules]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Number of Business Units/Divisions using Supervision</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.units_using_supervision %>"
                                name="finserv_supervision_questions[digital_comm][units_using_supervision]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>Do your Business Units/Divisions have different supervisory requirements?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.different_reqs %>"
                                name="finserv_supervision_questions[digital_comm][different_reqs]">
                        </div>
                    </div>

                    <hr>
                    <h5>
                        <a href="#editSupervision-MessageProfile" style="color: lightseagreen; margin-left: 3em;" data-toggle="collapse" onclick="change_arrow($(this));">
                            Message Sampling Profiles
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                    </h5>
                    <div id="editSupervision-MessageProfile" class="collapse">
                        <div class="row">
                            <div class="form-group col-4 response-cell">
                                <label>Does the customer have different sampling rates for:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4, response-checkbox">
                                <p>
                                    <input type="checkbox" name="finserv_supervision_questions[digital_comm][message_sampling_profiles][heightened_supervision]"
                                        <%- finserv_supervision_questions.digital_comm.message_sampling_profiles.heightened_supervision
                                        ? "checked" : "" %> />
                                    <b> Heightened Supervision</b>
                                </p>
                            </div>
                            <div class="col-4, response-checkbox">
                                <p>
                                    <input type="checkbox" name="finserv_supervision_questions[digital_comm][message_sampling_profiles][flagged_messages]" <%-
                                        finserv_supervision_questions.digital_comm.message_sampling_profiles.flagged_messages
                                        ? "checked" : "" %> />
                                    <b> Flagged Messages</b>
                                </p>
                            </div>
                            <div class="col-4, response-checkbox">
                                <p>
                                    <input type="checkbox" name="finserv_supervision_questions[digital_comm][message_sampling_profiles][clean]" <%- finserv_supervision_questions.digital_comm.message_sampling_profiles.clean
                                        ? "checked" : "" %> />
                                    <b> Clean</b>
                                </p>
                            </div>
                            <div class="col-4, response-checkbox">
                                <p>
                                    <input type="checkbox" name="finserv_supervision_questions[digital_comm][message_sampling_profiles][content_type]" <%- finserv_supervision_questions.digital_comm.message_sampling_profiles.content_type
                                        ? "checked" : "" %> />
                                    <b> Content Type</b>
                                </p>
                            </div>
                            <div class="col-4, response-checkbox">
                                <p>
                                    <input type="checkbox" name="finserv_supervision_questions[digital_comm][message_sampling_profiles][internal_messages]" <%-
                                        finserv_supervision_questions.digital_comm.message_sampling_profiles.internal_messages
                                        ? "checked" : "" %> />
                                    <b> Internal Messages</b>
                                </p>
                            </div>
                            <div class="col-4, response-checkbox">
                                <p>
                                    <input type="checkbox" name="finserv_supervision_questions[digital_comm][message_sampling_profiles][external_messages]" <%-
                                        finserv_supervision_questions.digital_comm.message_sampling_profiles.external_messages
                                        ? "checked" : "" %> />
                                    <b> External Messages</b>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-4 response-cell">
                                <label>Heightened Supervision sampling rate</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.message_sampling_profiles.heightened_supervision_rate %>"
                                    name="finserv_supervision_questions[digital_comm][message_sampling_profiles][heightened_supervision_rate]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Flagged Messages sampling rate</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.message_sampling_profiles.flagged_messages_rate %>"
                                    name="finserv_supervision_questions[digital_comm][message_sampling_profiles][flagged_messages_rate]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Clean sampling rate</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.message_sampling_profiles.clean_rate %>"
                                    name="finserv_supervision_questions[digital_comm][message_sampling_profiles][clean_rate]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Content Type sampling rate</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.message_sampling_profiles.content_type_rate %>"
                                    name="finserv_supervision_questions[digital_comm][message_sampling_profiles][content_type_rate]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>Internal Messages sampling rate</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.message_sampling_profiles.internal_messages_rate %>"
                                    name="finserv_supervision_questions[digital_comm][message_sampling_profiles][internal_messages_rate]">
                            </div>
                            <div class="form-group col-4 response-cell">
                                <label>External Messages sampling rate</label>
                                <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.digital_comm.message_sampling_profiles.external_messages_rate %>"
                                    name="finserv_supervision_questions[digital_comm][message_sampling_profiles][external_messages_rate]">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editSupervisoryWorkflow" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Supervisory Workflow
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editSupervisoryWorkflow" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>What status do you use for message without issues?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.issue_status %>"
                                name="finserv_supervision_questions[supervisory_workflow][issue_status]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How do you handle messages with potential violations?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.violation_handling %>"
                                name="finserv_supervision_questions[supervisory_workflow][violation_handling]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What type of Escalation Path do you have in place?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.escalation_path %>"
                                name="finserv_supervision_questions[supervisory_workflow][escalation_path]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What documentation within the solution is required?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.potential_violation_doc %>"
                                name="finserv_supervision_questions[supervisory_workflow][potential_violation_doc]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>How are messages closed when violations have been substantiated?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.messages_closed %>"
                                name="finserv_supervision_questions[supervisory_workflow][messages_closed]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">What status is used?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.status_used %>"
                                name="finserv_supervision_questions[supervisory_workflow][status_used]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">What documentation within the solution is required?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.substantiated_violation_doc %>"
                                name="finserv_supervision_questions[supervisory_workflow][substantiated_violation_doc]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">How do you notify individuals of message violations?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.supervisory_workflow.notify_message_violation %>"
                                name="finserv_supervision_questions[supervisory_workflow][notify_message_violation]">
                        </div>
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editAdministrativeFunctions" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Administrative Functions
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editAdministrativeFunctions" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>How many Administrators do you currently have in your supervision solution?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.administrative_functions.admin_count %>"
                                name="finserv_supervision_questions[administrative_functions][admin_count]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What type of oversight do the Administrators provide (if applicable)?</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.administrative_functions.admin_oversight %>"
                                name="finserv_supervision_questions[administrative_functions][admin_oversight]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">Aging Reviews (Are reviews current and up-to-date?)</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.administrative_functions.aging_reviews %>"
                                name="finserv_supervision_questions[administrative_functions][aging_reviews]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">Evidence of Supervision (Are reviewers current with their reviews?)</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.administrative_functions.evidence_of_supervision %>"
                                name="finserv_supervision_questions[administrative_functions][evidence_of_supervision]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">Quality Review (Are Processes being followed?)</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.administrative_functions.quality_review %>"
                                name="finserv_supervision_questions[administrative_functions][quality_review]">
                        </div>
                    </div>
                </div>
                <hr>

                <h5>
                    <a href="#editRuleLexiconMaintenance" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
                        Rule/Lexicons Maintenance
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </h5>

                <div id="editRuleLexiconMaintenance" class="collapse">
                    <div class="row">
                        <div class="form-group col-4 response-cell">
                            <label>How often do you to update/fine-tune lexicons?</label>
                            <%- make_custom_dropdown("finserv_supervision_questions[rule_lexicon_maintenance][update_frequency]",
                                finserv_supervision_questions.rule_lexicon_maintenance.update_frequency,
                                ["Monthly", "Quarterly", "Semi-Annually", "Annully", "No process in place"]) %>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label>What processes are in place for:</label>
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">Whitelist/Spam rule updating</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.rule_lexicon_maintenance.whitelist_spam_updating %>"
                                name="finserv_supervision_questions[rule_lexicon_maintenance][whitelist_spam_updating]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">Lexicon Updating - False Positives</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.rule_lexicon_maintenance.false_positives %>"
                                name="finserv_supervision_questions[rule_lexicon_maintenance][false_positives]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">Lexicon Updating - New Regulations</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.rule_lexicon_maintenance.new_regulations %>"
                                name="finserv_supervision_questions[rule_lexicon_maintenance][new_regulations]">
                        </div>
                        <div class="form-group col-4 response-cell">
                            <label style="margin-left: 3em;">Lexicon Updating - New Risks</label>
                            <input type="text" class="form-control" placeholder="No response set" value="<%= finserv_supervision_questions.rule_lexicon_maintenance.new_risks %>"
                                name="finserv_supervision_questions[rule_lexicon_maintenance][new_risks]">
                        </div>
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <label>Comments</label>
                    <textarea maxlength="5000" rows="5" name="finserv_supervision_questions[comments]" placeholder="5000 characters max" form="finservSupervisionForm"><%= finserv_supervision_questions.comments %></textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow ">