<h5>
    <a href="#editOtherDataSources-Custom" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
        Custom content archiving
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editOtherDataSources-Custom" class="collapse">
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>Do you have custom applications that generate content that needs to be archived?
            </label>
            <%- make_custom_dropdown("other_data_source_questions[custom_content_archiving][need_custom_archive]",
                        other_data_source_questions.custom_content_archiving.need_custom_archive, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Provide a diagram of how content is captured and submitted</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.custom_content_archiving.diagram %>"
                name="other_data_source_questions[custom_content_archiving][diagram]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Daily volumes?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.custom_content_archiving.daily_volume %>"
                name="other_data_source_questions[custom_content_archiving][daily_volume]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Average Message size?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.custom_content_archiving.avg_message_size %>"
                name="other_data_source_questions[custom_content_archiving][avg_message_size]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>What are these systems, and what are they sending?
            </label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.custom_content_archiving.systems %>"
                name="other_data_source_questions[custom_content_archiving][systems]">
        </div>
    </div>
</div>
<hr>
