<h5>
    <a href="#editapplianceDetails-ApplianceSizing" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
        Appliance Sizing
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editapplianceDetails-ApplianceSizing" class="collapse">
    <div class="row">
        <div class="form-group, col-4 response-cell">
            <label>Messages per day</label>
            <input type="number" class="form-control" placeholder="No response set" value="<%= appliance_questions.messages_per_day %>"
                name="appliance_questions[messages_per_day]">
        </div>
        <div class="form-group, col-4 response-cell">
            <label>Average message size</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= appliance_questions.avg_message_size %>"
                name="appliance_questions[avg_message_size]">
        </div>
        <div class="form-group, col-4 response-cell">
            <label>Number of mailboxes</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= appliance_questions.number_of_mailboxes %>"
                name="appliance_questions[number_of_mailboxes]">
        </div>

        <div class="form-group, col-4 response-cell">
            <label>Exports per month</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= appliance_questions.exports_per_month %>"
                name="appliance_questions[exports_per_month]">
        </div>
        <div class="form-group, col-4 response-cell">
            <label>Average export size</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= appliance_questions.avg_export_size %>"
                name="appliance_questions[avg_export_size]">
        </div>
        <div class="form-group, col-4 response-cell">
            <label>Active directory size</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= appliance_questions.AD_size %>" name="appliance_questions[AD_size]">
        </div>
        <div class="form-group, col-4 response-cell">
            <label>Virtual or physical hardware appliance preference?</label>
            <%- make_custom_dropdown("appliance_questions[appliance_preference]",
                    appliance_questions.appliance_preference, ["Physical", "Virtual"]) %>
        </div>
        <div class="form-group, col-4 response-cell">
            <label>Does the customer have a VMWare environment?</label>
            <%- make_custom_dropdown("appliance_questions[has_vmware_env]",
                    appliance_questions.has_vmware_env, ["Virtual", "Physical", "None"]) %>
        </div>
        <div class="col-4 response-cell">
            <label>Number of appliances recommended?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= appliance_questions.number_of_appliance_recommended %>"
                name="appliance_questions[number_of_appliance_recommended]">
        </div>
        <div class="form-group, col-4 response-cell">
            <label>DR footprint?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= appliance_questions.DR_footprint %>" name="appliance_questions[DR_footprint]">
        </div>
    </div>
</div>
<hr>
