<% include partials/header %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="./scripts/delete.js"></script>
    <script type="text/javascript" src="./scripts/index.js"></script>

    <div class="container" style="padding: 15px; max-width: 95%;">
        <br>
        <h2 style="text-align: center;"> Customers </h2>
        <br>
        <div class="dropdown">
            <a class="btn-top" style="margin-right: 15px;" href="./new/" class="btn btn-primary btn-success pull-right">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                New Customer</a>
        </div>
        <br>

        <div class="table-container">
            <table class="table table-hover table-striped" id="myTable">
                <thead class="thead-light">
                    <tr>
                        <th style="width:10%">Customer Name</th>
                        <th>Status</th>
                        <th>Sales Rep</th>
                        <th>Archiving SE</th>
                        <th>Acc. Manager</th>
                        <th>TEM</th>
                        <th>TAM</th>
                        <th>Supervision</th>
                        <th>Location</th>
                        <th>Last Updated</th>
                        <th>Updated By</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% customers.forEach(function (customer) { %>
                        <tr>
                            <td>
                                <span class="label label-default" style="font-size: 18px !important;">
                                    <b>
                                        <%= customer.name %>
                                    </b>
                                </span>
                            </td>
                            <td>
                                <%= customer.status %>
                            </td>
                            <td>
                                <%= customer.salesRep %>
                            </td>
                            <td>
                                <%= customer.archivingSe %>
                            </td>
                            <td>
                                <%= customer.accManager %>
                            </td>
                            <td>
                                <%= customer.tem %>
                            </td>
                            <td>
                                <%= customer.tam %>
                            </td>
                            <td>
                                <%= customer.supervision %>
                            </td>
                            <td>
                                <%= customer.location %>
                            </td>
                            <td>
                              <%= customer.updatedAt.getMonth() %>/<%= customer.updatedAt.getDate() %>/<%= customer.updatedAt.getFullYear() %>
                            </td>
                            <td>
                              <%= customer.updatedBy %>
                            </td>
                            <td>
                                <a href="./index/<%= encodeURIComponent(customer.name) %>">
                                    <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">More</button>
                                </a>

                                &nbsp;

                                <!-- This escape is borked. Need to fix if someone puts """ into customer name. Need to escape.
                     If \"\"\", DB will delete """ because it would cause the string to be properly escaped. Becareful of backslashes -->

                                <% if(user == 'anchen' || user == 'nlee' || user == 'vrathee' || user == 'sprokai') { %>
                                    <button class="btn btn-danger" onclick='delete_customer("<%= customer.name %>")'>Delete</button>
                                    <!-- <button data-toggle="modal" data-target="#editModal" class="btn btn-success center-block">Edit</button></div> -->
                            </td>
                        </tr>
                        <% } %>
                            <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- line modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="lineModalLabel">Customer Name Here</h3>
                </div>
                <div class="modal-body">

                    <!-- content goes here -->
                    <form>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" placeholder="Status">
                        </div>
                        <div class="form-group">
                            <label for="customername">Customer Name</label>
                            <input type="text" class="form-control" id="customername" placeholder="Customer Name">
                        </div>
                        <div class="form-group">
                            <label for="salesrep">Sales Rep.</label>
                            <input type="text" class="form-control" id="salesrep" placeholder="Sales Rep. Name">
                        </div>
                        <div class="form-group">
                            <label for="archivingse">Archiving SE</label>
                            <input type="text" class="form-control" id="archivingse" placeholder="Archiving SE Name">
                        </div>
                        <div class="form-group">
                            <label for="accmanager">Acc. Manager</label>
                            <input type="text" class="form-control" id="accmanager" placeholder="Acc. Manager Name">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <label for="supervision">Supervision</label>
                            <input type="text" class="form-control" id="supervision" placeholder="Supervision">
                        </div>
                        <div class="form-group">
                            <label for="natip">NAT IP</label>
                            <input type="text" class="form-control" id="natip" placeholder="NAT IP">
                        </div>
                        <div class="form-group">
                            <label for="supervision">Contacts</label>
                            <input type="text" class="form-control" id="contacts" placeholder="Contacts">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

    <% include partials/footer %>
