<% include partials/header %>
  <div class="continer">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <div class="section-title">
          <br>
          <p style="font-size: 180%">Customers</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <input class="form-control" style="display: inline-block; width:20%" type="text" placeholder="Search" aria-label="Search">
        <a href="./new/" class="btn btn-primary btn-xs float-right"><b>+</b> New Customer</a>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Sales Rep</th>
            <th>Archiving SE</th>
            <th>Acc Mgr</th>
            <th>Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
            <% customers.forEach(function (customer) { %>
            <tr>
              <td><a href="./index/<%= encodeURIComponent(customer.name) %>"><%= customer.name %></a></td>
              <td><%= customer.salesRep %></td>
              <td><%= customer.archivingSe %></td>
              <td><%= customer.accManager %></td>
              <td><%= customer.status %></td>
              <td class="text-center"><a href=""><i class="fa fa-trash-o"></i></a></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>

    <% include partials/footer %>
