<% include partials/header %>


<script type="text/javascript" src="./scripts/delete.js"></script>
<script type="text/javascript" src="./scripts/index.js"></script>
<div class="continer">
  <div class="row">
    <div class="col-xl-8 mx-auto text-center">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-1" style="background-color:white;"></div>
    <div class="col-sm-2" style="background-color:white;">
      <input class="form-control" id="txtFilter" onkeyup="filterTable()" style="display: inline-block;" type="text" placeholder="Search for names..." aria-label="Search">
    </div>
    <div class="col-sm-6" style="background-color:white;"></div>
    <div class="col-sm-2" style="background-color:white;">  
      <a href="./new/" class="btn btn-primary btn-xs float-right"><b>+</b> New Customer</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1" style="background-color:white;"></div>
    <div class="col-md-10" style="background-color:white;">
    <table id="tblCustomers" class="table table-striped custab">
      <thead class="thead-dark">
        <tr>
          <th onclick="sortTable(0)">Customer Name <i class="fa fa-fw fa-sort"></i></th>
          <th onclick="sortTable(1)">Sales Rep<i class="fa fa-fw fa-sort"></i></th>
          <th onclick="sortTable(2)">Archiving SE<i class="fa fa-fw fa-sort"></i></th>
          <th onclick="sortTable(3)">AM<i class="fa fa-fw fa-sort"></i></th>
          <th onclick="sortTable(4)">Status<i class="fa fa-fw fa-sort"></i></th>
          <th onclick="sortTable(5)">Updated Date<i class="fa fa-fw fa-sort"></i></th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% customers.forEach(function (customer) { %>
        <tr>
          <td><a href="./index/<%= encodeURIComponent(customer.name) %>"><%= customer.name %></a></td>
          <td><%= customer.salesRep %></td>
          <td><%= customer.archivingSe %></td>
          <td><%= customer.accManager %></td>
          <td><%= customer.status %></td>
          <td><%= customer.updatedAt.getMonth() + 1 %>/<%= customer.updatedAt.getDate() %>/<%= customer.updatedAt.getFullYear() %></td>
          <td class="text-center">
            <% if(user == 'mengineer' || user == 'nlee' || user == 'vrathee' || user == 'sprokai') { %>
            <button class="btn" onclick='delete_customer("<%= customer.name %>")'><i class="fa fa-trash"></i></button>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  </div>
</div>

<script>
  function filterTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("txtFilter");
    filter = input.value.toUpperCase();
    table = document.getElementById("tblCustomers");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

    function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("tblCustomers");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>

<% include partials/footer %>
