<% include partials/header %>

<div class="container" style="border: .2px solid gray">
    <div id="customerHeader" class="">
        <h1 style="text-align: center;"><%= customer._id %></h1>
    </div>
    <br>
    <br>
    <div id="content" class="">
        <div id="detail" class="">
            <h4>Project Detail</h4>
        </div>
        <hr>
        <div id="generalInfo" class="">
            <div id="generalInfoHeader">
                <div class="title">
                    <h5>General Information</h5>
                </div>
                <div class="edit pull-right">
                    <a href="#" aria-hidden="true" data-target="#editModal" data-toggle="modal"><i
                                class="fa fa-pencil-square-o"></i>Edit</a>
                </div>
            </div>
            <br>
            <div id="genralInfoContent1" class="row">
                <div id="" class="col-4"><p><b>Sales Rep. </b><%= customer.salesRep %></p></div>
                <div id="" class="col-4"><p><b>SE </b><%= customer.archivingSe %></p></div>
                <div id="" class="col-4"><p><b>Account Manager </b><%= customer.accManager %></p></div>
                <div id="" class="col-4"><p><b>TEM </b><%= customer.tem %></p></div>
                <div id="" class="col-4"><p><b>TAM </b><%= customer.tam %></p></div>
                <div id="" class="col-4"><p><b>Location </b><%= customer.location %></p></div>
                <div id="" class="col-4"><p><b>Implementaion Specialist </b><%= customer.impSpecialist %></p></div>
            </div>
            <p></p>
            <div id="genralInfoContent2" class="row">
                <div id="" class="col-4"><p><b>Customer Name </b><%= customer._id %></p></div>
                <div id="" class="col-4"><p><b>Number of Users </b><%= customer.numberOfUsers %></p></div>
                <div id="" class="col-4"><p><b>Supervision </b><%= customer.supervision %></p></div>
                <div id="" class="col-4"><p><b>Contacts </b><%= customer.contacts %></p></div>
                <div id="" class="col-4"><p><b>Status </b><%= customer.status %></p></div>
                <div id="" class="col-4"><p><b>NAT IP Address </b><%= customer.natIp %></p></div>
                <div id="" class="col-4"><p><b>Incumbent Solution </b><%= customer.incumbentSolution %></p></div>
            </div>
        </div>
        <hr>
        <div id="emailSystem" class="">
            <h5><a href="#emailContainer" data-toggle="collapse">Email Systems <i class="fa fa-arrows-v"
                                                                                  aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="emailContainer" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <p>On Prem Exchange w/ On Prem Appliances</p>
                <p></p>
                <div id="emailSystemContent1" class="row">
                    <div id="" class="col-4"><p><b>What versions of Exchange are running? </b>2010 to 2016</p></div>
                    <div id="" class="col-4"><p><b>How many locations are mailbox servers deployed? </b>2</p></div>
                    <div id="" class="col-4"><p><b>Do you have an Enterprise CAL? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you replicating Exchange and AD to a secondary data center? </b>Yes/No
                        </p></div>
                    <div id="" class="col-4"><p><b>Please provide a diagram of your exchange infrastructure and your AD
                                Details</b>...</p></div>
                </div>
                <p>Active Directory Details</p>
                <p></p>
                <div id="emailSystemContent2" class="row">
                    <div id="" class="col-4"><p><b>Is your AD multi-forest? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>How many forests are there? </b>10</p></div>
                    <div id="" class="col-4"><p><b>Are there trusts between the forests? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Is this a Resource Forest arrangement? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you using multi-domains? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>if yes, what is the structure of multi-domain architecture / their
                                relationships? </b>Comment</p></div>
                    <div id="" class="col-4"><p><b>Resource forest deployment? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>How big is your AD? How many objects? </b>Size</p></div>
                </div>
                <p>O365 (Hosted Appliances)</p>
                <p></p>
                <div id="emailSystemContent4" class="row">
                    <div id="" class="col-4"><p><b>What O365 license level do you have? </b>Licnese</p></div>
                    <div id="" class="col-4"><p><b>Are you maintaining AD on-prem? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you maintaining AD in Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>When you create and admin mailboxes, do you do that in the on-prem
                                AD, or in Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Sync tools used to Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Which O365 (shared, dedicated /BPOS-D/ iTAR)? </b>Shared</p></div>
                </div>
                <p>on prem EXCH + O365 (on prem appliance)</p>
                <p></p>
                <!-- Exchange Details -->
                <div id="emailSystemContent5" class="row">
                    <div id="" class="col-4"><p><b>What versions of Exchange are running? </b>Version</p></div>
                    <div id="" class="col-4"><p><b>How many locations are mailbox servers deployed? </b>3</p></div>
                    <div id="" class="col-4"><p><b>Do you have an Enterprise CAL? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Describe the HA/DR of the Exchange environment.</b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Please provide a diagram of your exchange infrastructure and your AD
                                Details.</b>Diagram</p></div>
                    <div id="" class="col-4"><p><b>Are DAGs being used? </b>Yes/No</p></div>
                </div>
                <p></p>
                <!-- Active Directory Details -->
                <div id="emailSystemContent6" class="row">
                    <div id="" class="col-4"><p><b>Is your AD multi-forest? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>How many forests are there? </b>10</p></div>
                    <div id="" class="col-4"><p><b>Is this a Resource Forest arrangement? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you using multi-domains? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>if yes, what is the structure of multi-domain architecture / their
                                relationships?</b>Comment</p></div>
                    <div id="" class="col-4"><p><b>Resource forest deployment? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>How big is your AD? How many objects? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Do you require a secure connection to LDAP? </b>Yes/No</p></div>
                </div>
                <p></p>
                <!-- O365 Details -->
                <div id="emailSystemContent7" class="row">
                    <div id="" class="col-4"><p><b>What O365 license level do you have? </b>License Level</p></div>
                    <div id="" class="col-4"><p><b>Are you maintaining AD on-prem? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you maintaining AD in Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you using multi-domains? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>When you create and admin mailboxes, do you do that in the on-prem
                                AD, or in Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Sync tools used to Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Which O365 (shared, dedicated /BPOS-D/ iTAR)? </b>Shared</p></div>
                </div>
                <p>On prem EXCH + O365 (hosted appliance)</p>
                <p></p>
                <!-- Exchange Details -->
                <div id="emailSystemContent8" class="row">
                    <div id="" class="col-4"><p><b>What versions of Exchange are running? </b>Version</p></div>
                    <div id="" class="col-4"><p><b>How many locations are mailbox servers deployed? </b>3</p></div>
                    <div id="" class="col-4"><p><b>Do you have an Enterprise CAL? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Describe the HA/DR of the Exchange environment.</b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Please provide a diagram of your exchange infrastructure and your AD
                                Details.</b>Diagram</p></div>
                    <div id="" class="col-4"><p><b>Are DAGs being used? </b>Yes/No</p></div>
                </div>
                <p></p>
                <!-- Active Directory Details -->
                <div id="emailSystemContent9" class="row">
                    <div id="" class="col-4"><p><b>Is your AD multi-forest? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>How many forests are there? </b>10</p></div>
                    <div id="" class="col-4"><p><b>Is this a Resource Forest arrangement? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you using multi-domains? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>if yes, what is the structure of multi-domain architecture / their
                                relationships?</b>Comment</p></div>
                    <div id="" class="col-4"><p><b>Resource forest deployment? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>How big is your AD? How many objects? </b>Yes/No</p></div>
                </div>
                <p></p>
                <!-- O365 Details -->
                <div id="emailSystemContent10" class="row">
                    <div id="" class="col-4"><p><b>What O365 license level do you have? </b>License Level</p></div>
                    <div id="" class="col-4"><p><b>Are you maintaining AD on-prem? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you maintaining AD in Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Are you using multi-domains? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>When you create and admin mailboxes, do you do that in the on-prem
                                AD, or in Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Sync tools used to Azure? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Which O365 (shared, dedicated /BPOS-D/ iTAR)? </b>Shared</p></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="journaling" class="">
            <h5><a href="#journallingContainer" data-toggle="collapse">Journaling <i class="fa fa-arrows-v"
                                                                                     aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="journallingContainer" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <p>Exchange Details</p>
                <p></p>
                <div id="exchangeDetails" class="row">
                    <div id="" class="col-4"><p><b>Exchange On Prem </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>O365 </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Mixed Mode </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Number of Mailboxes </b>1234567</p></div>
                    <div id="" class="col-4"><p><b>Avg. Daily Journal Msg Count </b>12345678910</p></div>
                    <div id="" class="col-4"><p><b>Changes in Busess </b>Yes/No</p></div>
                </div>
                <p></p>
                <p>Mail Volume Metrics & Journaling</p>
                <p></p>
                <div id="mailVolume" class="row">
                    <div id="" class="col-4"><p><b>Users To Be Journalled </b>3453345</p></div>
                    <div id="" class="col-4"><p><b>Msg Per User(Week/Month) </b>10000 Msg</p></div>
                    <div id="" class="col-4"><p><b>Message Volume Derive Method </b>Result</p></div>
                    <div id="" class="col-4"><p><b>Avg. Message Size </b>89123</p></div>
                    <div id="" class="col-4"><p><b>Avg. Daily Journal Msg Count </b>12345678910</p></div>
                    <div id="" class="col-4"><p><b>All User Journalling </b>YesNo</p></div>
                    <div id="" class="col-4"><p><b>O365(Time Line) </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Custom Configuration Notes </b>...</p></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="appliances" class="">
            <h5><a href="#applianceSizing" data-toggle="collapse">Appliances <i class="fa fa-arrows-v"
                                                                                aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="applianceSizing" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <div id="appliaceDetails" class="row">
                    <div id="" class="col-4"><p><b>Messages Per Day </b> 1234332</p></div>
                    <div id="" class="col-4"><p><b>Avg. Message Size </b>100000</p></div>
                    <div id="" class="col-4"><p><b>Number of Mailboxes </b>550213</p></div>
                    <div id="" class="col-4"><p><b>Searches Per Day </b>89123</p></div>
                    <div id="" class="col-4"><p><b>UI Logins Per Day </b>12345678910</p></div>
                    <div id="" class="col-4"><p><b>Exports Per Day </b>213123112</p></div>
                    <div id="" class="col-4"><p><b>Avg. Export Size </b>1TB</p></div>
                    <div id="" class="col-4"><p><b>Active Directory Size </b>555GB</p></div>
                    <div id="forDevOnly" class="col-12"><p style="color: red;">Note for DEV: Does the customer prefer
                            virtual or HW appliances?\n confirm the customer has a VMWare Env\n Number of Apps
                            Recommended\n How many of each purpose(UI, Export, Archiving, Stubbing)\n DR footprint\n
                            Archive Proxy?</p></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="otherDataSources" class="">
            <h5><a href="#otherDataSourcesContainer" data-toggle="collapse">Other Data Sources<i class="fa fa-arrows-v"
                                                                                                 aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="otherDataSourcesContainer" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <p>Custom Content Archiving</p>
                <div id="customContentArchiving" class="row">
                    <div id="" class="col-4"><p><b>Do you have custom applications that generate content that needs to
                                be archived?</b> Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Provide a diagram of how content is captured and submitted </b>Diagram?
                        </p></div>
                </div>
                <p>Public Social Archiving</p>
                <div id="publicSocialArchiving" class="row">
                    <div id="" class="col-4"><p><b>Which of these do you need to capture? </b> DROPDOWN</p></div>
                    <div id="" class="col-4"><p><b>How many accounts for each source need to be captured? </b> 1234332
                        </p></div>
                    <div id="" class="col-4"><p><b>What are you using to archiving this content today? </b> Response</p>
                    </div>
                </div>
                <p>Enterprise Collaboration Archiving</p>
                <div id="enterpriseCollabArchiving" class="row">
                    <div id="" class="col-4"><p><b>How many users are there on each platform? </b>100000</p></div>
                    <div id="" class="col-4"><p><b>How many of these users need to be archived</b>100000</p></div>
                    <div id="" class="col-4"><p><b>% breakdown of Active users? </b>50%</p></div>
                    <div id="" class="col-4"><p><b>Do you want to capture all user activity on each platform? </b>Yes/No
                        </p></div>
                    <div id="" class="col-4"><p><b>Average volume of messages/day?</b>20000</p></div>
                    <div id="" class="col-4"><p><b>5. What is the most active profile like in terms of message and file
                                creation and updates (which are treated as new uploads)? </b>Response</p></div>
                    <div id="" class="col-4"><p><b>What is their retention policy? </b>7 Years</p></div>
                    <div id="" class="col-4"><p><b>Is the customer a PFPT archiving customer? </b>Yes/No</p></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="desktopNetworkDr" class="">
            <h5><a href="#desktopContent" data-toggle="collapse">Desktop/Network/DR <i class="fa fa-arrows-v"
                                                                                       aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="desktopContent" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <p>Network & Security</p>
                <p></p>
                <div id="networkSecurity" class="row">
                    <div id="" class="col-4"><p><b>DMZ </b>Response</p></div>
                    <div id="" class="col-4"><p><b>Fiewalls </b>Ironport</p></div>
                    <div id="" class="col-4"><p><b>VPN Connection to PFPT Required </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Enable access to user outside network </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Load Balancer/VIP </b>Response</p></div>
                    <div id="" class="col-4"><p><b>NAT IP List </b>Answer</p></div>
                    <div id="" class="col-4"><p><b>Proxy Servers </b>Response</p></div>
                </div>
                <p></p>
                <p>End User Desktop Environment</p>
                <p></p>
                <div id="endUserEnv" class="row">
                    <div id="" class="col-4"><p><b>What browsers do user have access to </b>Chrome,IE,Firefox</p></div>
                    <div id="" class="col-4"><p><b>What versions of each available browsers are allowed</b>Version
                            Number</p></div>
                    <div id="" class="col-4"><p><b>Do you run IE 11 </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Can users enable compatibility mode in IE 11 </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Is IE deployed in Enterprise Mode? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Can users enable pop-ups for specific URLs </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>O365(Time Line) </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Do users have access to: Chrome/Firefox/Edge </b>Choices</p></div>
                </div>
                <p></p>
                <p>Disaster Recovery / High Availability</p>
                <p></p>
                <div id="disasterRecovery" class="row">
                    <div id="" class="col-4"><p><b>Do you have Exchange and AD being replicated to a secondary data
                                center </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>What is the DR/HA configuration look like </b>Response</p></div>
                    <div id="" class="col-4"><p><b>Can you provide a diagram of the Exchange environment with the DR/HA
                                included </b>Answer</p></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="usage" class="">
            <h5><a href="#usageContaner" data-toggle="collapse">Usage <i class="fa fa-arrows-v" aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="usageContaner" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <div>
                    <p>Supervision</p>
                    <div id="usageSupervision" class="row">
                        <!-- Notes/Details -->
                        <div id="" class="col-4"><p><b>What supervision system are you currently running? </b>Supevision
                            </p></div>
                        <div id="" class="col-4"><p><b>What are your current pain-points? </b>Pains</p></div>
                        <div id="" class="col-4"><p><b>Are there deficiencies in your current process that put you at
                                    risk? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>What are the customer's lines of business that has different
                                    Supervision requirements? </b>Diffs</p></div>
                        <div id="" class="col-4"><p><b>Is review Centralized / De-centralized? </b>Centralized</p></div>
                        <div id="" class="col-4"><p><b>What is the escalation process when issues / violations are
                                    found? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Who is responsible for reviewing which group / user </b>Person
                            </p></div>
                        <div id="" class="col-4"><p><b>How is this data loaded into your current system? </b>Person2/p>
                        </div>
                        <div id="" class="col-4"><p><b>Do you need to migrate your existing policies? </b>Yes/No</p>
                        </div>
                        <div id="" class="col-4"><p><b>Do you already have whitelists, disclaimers headers, etc...
                                    (pre-approved content) that needs to be excluded? </b>Yes/No</p></div>

                        <!-- Random Smpliing -->
                        <br>
                        <div id="" class="col-4"><p><b>Do you have sampling rules? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>Do you have multiple sampling rates that apply to a given person
                                    (i.e. different message types, internal vs external)? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>Intention of sampling: top up or not? </b>Top</p></div>
                        <div id="" class="col-4"><p><b>Do you directly notify violators for certain types of
                                    offenses? </b>Yes/No</p></div>

                        <!-- Reporting Requirments -->
                        <br>
                        <div id="" class="col-4"><p><b>What decisions are made based on these reports? </b>Response</p>
                        </div>
                        <div id="" class="col-4"><p><b>What reports are required for roll-out? Please provide
                                    samples. </b>Response</p></div>
                        <div id="" class="col-4"><p><b>What reports are nice to have in the future? </b>Response</p>
                        </div>

                    </div>
                    <p>Stubbing</p>
                    <div id="usageStubbing" class="row">
                        <div id="" class="col-4"><p><b>Is the customer interested in Stubbing? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>If within these boundaries, and if you intend to use it, what’s
                                    your stubbing policy? </b>Response</p></div>
                        <div id="" class="col-4"><p><b>How many users is the customer going to stub for? </b>1000</p>
                        </div>
                    </div>
                    <p>Selective Disposition</p>
                    <div id="usageSelectiveDisposition" class="row">
                        <div id="" class="col-4"><p><b>What are the scenarios would you need to apply it? </b>Response
                            </p></div>
                        <div id="" class="col-4"><p><b>WHow many messages would you want to selectively dispose? </b>10000
                            </p></div>
                    </div>
                    <p>Content Collector - Files</p>
                    <div id="usageContentCollectorFiles" class="row">
                        <div id="" class="col-4"><p><b>Is the customer interested in CC4Files? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>Where are the files located that you want to collect? (We only
                                    support Windows based file servers and on-prem Sharepoint.) </b>Response</p></div>
                        <div id="" class="col-4"><p><b>Is the customer willing to install an agent on each machine they
                                    want to collect data from? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>What's the volume of files? </b>Response</p></div>
                        <div id="" class="col-4"><p><b>Are there unusual File types? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>Average and largest file expected to capture? </b>Response</p>
                        </div>
                        <div id="" class="col-4"><p><b>Customer understands this is for People Based Legal Holds
                                    only? </b>Yes/No</p></div>
                    </div>
                    <p>Content Collector - PSTs</p>
                    <div id="usageContentCollectorPsts" class="row">
                        <div id="" class="col-4"><p><b>Is the customer interested in CC4PSTs? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>Avg size? </b>Yes/No</p></div>
                        <div id="" class="col-4"><p><b>Frequency? </b>Response</p></div>
                        <div id="" class="col-4"><p><b>Use case? </b>Answer</p></div>
                    </div>
                    <p>Legal Holds</p>
                    <div id="usageLegalHolds" class="row">
                        <div id="" class="col-4"><p><b>Custodian based or Ad hoc, or both? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Count of LH's in current solution </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Number of unique custodians </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Largest hold (in terms of custodians) </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>What LH Notification system is being used today? </b>Answer</p>
                        </div>
                        <div id="" class="col-4"><p><b>Third Party Solutions for LH Management? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>API interest? What use cases? </b>Answer</p></div>
                    </div>
                    <p>End User Search</p>
                    <div id="usageEndUserSearch" class="row">
                        <div id="" class="col-4"><p><b>How many end users will have access to their own mailbox? </b>Answer
                            </p></div>
                        <div id="" class="col-4"><p><b>Do end users need to have access to Archive within Outlook? What
                                    versions of Outlook? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Do you want access archive through Mobile Apps? </b>Answer</p>
                        </div>
                    </div>
                    <p>Folder Sync</p>
                    <div id="usageFolderSync" class="row">
                        <div id="" class="col-4"><p><b>Is the customer interested in Folder Sync? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>For how many users? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Service Account? </b>Answer</p></div>
                    </div>
                    <p>Transport Agent</p>
                    <div id="usageTransportAgent" class="row">
                        <p>Note: This feature requires customer to have .NET 3.5 installed</p>
                    </div>
                    <p>Export</p>
                    <div id="usageExport" class="row">
                        <div id="" class="col-4"><p><b>Volume / avg size and frequency </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Preferred Export formats? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Where does the data typically go? </b>Answer</p></div>
                        <div id="" class="col-4"><p><b>Does customer expect to auto upload data? </b>Answer</p></div>
                    </div>
                    <p>Outlook View Manager</p>
                    <div id="usageExportViewManager" class="row">
                        <div id="" class="col-4"><p><b>Do you want to allow end users to acces the archive? </b>Answer
                            </p></div>
                        <div id="" class="col-4"><p><b>Do you use OWA? </b>Answer</p></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="import" class="">
            <h5><a href="#importContent" data-toggle="collapse">Import <i class="fa fa-arrows-v" aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="importContent" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <div id="importDetails" class="row">
                    <div id="" class="col-4"><p><b>Do you need to migrate Legacy Data? </b>Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Existing Archive </b>EV</p></div>
                    <div id="" class="col-4"><p><b>Amount of data to be migrated </b> Answer</p></div>
                    <div id="" class="col-4"><p><b>Expected Timeline </b> Time</p></div>
                    <div id="" class="col-4"><p><b>Who’s doing the conversion? </b> Customer</p></div>
                    <div id="" class="col-4"><p><b>SoW / Service Brief </b> Answer</p></div>
                    <div id="" class="col-4"><p><b>Storage </b> Size</p></div>
                    <div id="" class="col-4"><p><b>Format </b> PST</p></div>
                    <div id="" class="col-4"><p><b>Retention policy for Import Data </b> 7 Years</p></div>
                    <div id="" class="col-4"><p><b>Encryption Type for Drives </b> Veracrypt</p></div>
                    <div id="" class="col-4"><p><b>How old is the oldest data you have? </b>2013</p></div>
                    <div id="" class="col-4"><p><b>Do you have a record of former employees and their email addresses
                                and aliases? </b> Yes/No</p></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="poc" class="">
            <h5><a href="#pocContent" data-toggle="collapse">POC <i class="fa fa-arrows-v" aria-hidden="true"></i>
                </a></h5>
            <br>
            <div id="pocContent" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <div id="pocDetails" class="row">
                    <div id="" class="col-4"><p><b>Sandbox POC </b> Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Prod Based POC </b> Yes/No</p></div>
                    <div id="" class="col-4"><p><b>What Will Be Tested On POC </b> Reason</p></div>
                    <div id="" class="col-4"><p><b>Customer Agreement to Success Criteria </b> Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Environment </b> POC/UAT</p></div>
                    <div id="" class="col-4"><p><b>Time Needed </b> 5 Months</p></div>
                    <div id="" class="col-4"><p><b>How to Convert the Environment and/or Data to PROD </b> HOW</p></div>
                    <div id="" class="col-4"><p><b>Appliance(s) Installation Location </b> Production/Lab</p></div>
                    <div id="" class="col-4"><p><b>PROD: Locations and Environments Needed </b> Answer</p></div>
                    <div id="" class="col-4"><p><b>Mailboxes that will be Journaled to POC </b> 1234332</p></div>
                </div>
                <p></p>
                <!-- UAT -->
                <div id="pocDetails" class="row">
                    <div id="" class="col-4"><p><b>Does the customer need/require a UAT or Testing Archivive
                                account?</b> Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Will the UAT be forever? </b> Yes/No</p></div>
                    <div id="" class="col-4"><p><b>Will the UAT be production data, or Lab data? </b> Reason</p></div>
                    <div id="" class="col-4"><p><b>What is the primary purpose of the UAT? </b> Purpose</p></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="rfes" class="">
            <h5><a href="#rfeContent" data-toggle="collapse">RFEs <i class="fa fa-arrows-v" aria-hidden="true"></i>
                </a></h5>
            <div id="rfeContent" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <div id="refDetails" class="row">
                    <div id="" class="col-4"><b><p>Showstoppers (Will not buy w/o)</p></b>Comment</div>
                    <div id="" class="col-4"><b><p>Showstoppers (Will not rollout w/o)</p></b>Comment</div>
                    <div id="" class="col-4"><b><p>Parity Feature</p></b>Text</div>
                    <div id="" class="col-4"><b><p>Nice to Haves</p></b>Comment</div>
                </div>
            </div>
        </div>
        <hr>
        <div id="designSummary" class="">
            <h5><a href="#designSummaryContent" data-toggle="collapse">Design Summary <i class="fa fa-arrows-v"
                                                                                         aria-hidden="true"></i>
                </a></h5>
            <div id="designSummaryContent" class="collapse in">
                <div class="edit pull-right">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                </div>
                <div id="refDetails" class="row">
                    <div id="" class="col-4"><b><p>Mail System in Use</p></b>Comment</div>
                </div>
            </div>
        </div>
    </div>

    <!-- line modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lineModalLabel"><%= customer._id %></h3>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">

                    <!-- content goes here -->
                    <form class="" action="/index/<%= customer._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label for="customerName">Customer Name</label>
                            <input type="text" class="form-control" id="customerName" value="<%= customer._id %>"
                                   name="customer[_id]">
                        </div>
                        <div class="form-group >
					<label for=" salesRep
                        ">Sales Rep.</label>
                        <input type="text" class="form-control" id="salesRep" value="<%= customer.salesRep %>"
                               name="customer[salesRep]">
                </div>
                <div class="form-group">
                    <label for="archivingSe">Archiving SE</label>
                    <input type="text" class="form-control" id="archivingSe" value="<%= customer.archivingSe %>"
                           name="customer[archivingSe]">
                </div>
                <div class="form-group">
                    <label for="accManager">Acc. Manager</label>
                    <input type="text" class="form-control" id="accManager" value="<%= customer.accManager %>"
                           name="customer[accManager]">
                </div>
                <div class="form-group">
                    <label for="archivingSe">TEM</label>
                    <input type="text" class="form-control" id="tme" value="<%= customer.tem %>" name="customer[tem]">
                </div>
                <div class="form-group">
                    <label for="archivingSe">TAM</label>
                    <input type="text" class="form-control" id="tam" value="<%= customer.tam %>" name="customer[tam]">
                </div>
                <div class="form-group">
                    <label for="archivingSe">Implementation Specialist</label>
                    <input type="text" class="form-control" id="implementationSpecialist "
                           value="<%= customer.impSpecialist %>" name="customer[impSpecialist]">
                </div>
                <div class="form-group">
                    <label for="archivingSe">Number of Users</label>
                    <input type="text" class="form-control" id="numberOfUsers" value="<%= customer.numberOfUsers %>"
                           name="customer[numberOfUsers]">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" value="<%= customer.location %>"
                           name="customer[location]">
                </div>
                <div class="form-group">
                    <label for="supervision">Supervision</label>
                    <input type="text" class="form-control" id="supervision" value="<%= customer.supervision %>"
                           name="customer[supervision]">
                </div>
                <div class="form-group">
                    <label for="contacts">Contacts</label>
                    <input type="text" class="form-control" id="contacts" value="<%= customer.contacts %>"
                           name="customer[contacts]">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" value="<%= customer.status %>"
                           name="customer[status]">
                </div>
                <div class="form-group">
                    <label for="natIp">NAT IP</label>
                    <input type="text" class="form-control" id="natIp" value="<%= customer.natIp %>"
                           name="customer[natIp]">
                </div>
                <div class="form-group">
                    <label for="contacts">Incumbent Solution</label>
                    <input type="text" class="form-control" id="incumbentSolution"
                           value="<%= customer.incumbentSolution %>" name="customer[incumbentSolution]">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" role="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<% include partials/footer %>