<div id="editExchangeDetails">
    <p><b>Email Systems</b></p>
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>Where is mail journaled?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= email_questions.exchange_details.journaling_location %>"
                name="email_questions[exchange_details][journaling_location]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Number of users per journaling location?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= email_questions.exchange_details.users_per_location %>"
                name="email_questions[exchange_details][users_per_location]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>What versions of Exchange are you running?</label>
            <input type="text" class="form-control exchange_version" placeholder="No response set" value="<%= email_questions.exchange_details.exchange_version %>"
                name="email_questions[exchange_details][exchange_version]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>How many locations are mailbox servers deployed?</label>
            <input type="text" class="form-control number_of_mail_servers" placeholder="No response set" value="<%= email_questions.exchange_details.number_of_mail_servers %>"
                name="email_questions[exchange_details][number_of_mail_servers]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Do you have an Enterprise CAL?</label>
            <%- make_custom_dropdown("email_questions[exchange_details][has_enterprise_CAL]",
                    email_questions.exchange_details.has_enterprise_CAL, ["Yes", "No"], "has_enterprise_CAL") %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Are you replicating Exchange and AD to a secondary data center?
            </label>
            <%- make_custom_dropdown("email_questions[exchange_details][is_replicating_exchange_and_AD]",
                    email_questions.exchange_details.is_replicating_exchange_and_AD, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>No. of journal mailboxes</label>
            <input type="text" class="form-control number_of_inboxes" placeholder="No response set" value="<%= email_questions.exchange_details.number_of_inboxes %>"
                name="email_questions[exchange_details][number_of_inboxes]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Are journal mailboxes on their own DB?</label>
            <%- make_custom_dropdown("email_questions[exchange_details][is_journal_in_own_DB]",
                    email_questions.exchange_details.is_journal_in_own_DB, ["Yes", "No"], "is_journal_in_own_DB") %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>How much extra storage is available on the Journaling Mailbox Databases?
            </label>
            <input type="text" class="form-control number_of_extra_storage" placeholder="No response set" value="<%= email_questions.exchange_details.number_of_extra_storage %>"
                name="email_questions[exchange_details][number_of_extra_storage]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Are you using RMS?</label>
            <%- make_custom_dropdown("email_questions[exchange_details][is_using_RMS]",
                    email_questions.exchange_details.is_using_RMS, ["Yes", "No"], "is_using_RMS") %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Is Enable Journal Decryption set to True / False?</label>
            <%- make_custom_dropdown("email_questions[exchange_details][is_journal_decryption_enabled]",
                    email_questions.exchange_details.is_journal_decryption_enabled, ["Yes", "No"], "is_journal_decryption_enabled") %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>How are your journal rules defined (hub transport or database)?</label>
            <%- make_custom_dropdown("email_questions[exchange_details][journal_rules]",
                    email_questions.exchange_details.journal_rules, ["Hub transport", "Database"]) %>
        </div>
    </div>
</div>
<hr>
