<h5>
    <a href="#editUsage-Stubbing" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
        Stubbing
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editUsage-Stubbing" class="collapse">
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>Is the customer interested in Stubbing?</label>
            <%- make_custom_dropdown("usage_questions[stubbing][interested_in_stubbing]",
                    usage_questions.stubbing.interested_in_stubbing, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>If within these boundaries, and if you intend to use it, what’s your stubbing policy?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.stubbing.stubbing_policy %>"
                name="usage_questions[stubbing][stubbing_policy]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>How many users is the customer going to stub for?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.stubbing.number_of_stubbing_users %>"
                name="usage_questions[stubbing][number_of_stubbing_users]">
        </div>
    </div>
</div>
<hr>

<!-- Selective Disposition -->

<!-- Content Collector - Files -->
<h5>
    <a hidden href="#editUsage-Files" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
        Content Collector - Files
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div hidden id="editUsage-Files" class="collapse">
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>Is the customer interested in CC4Files?</label>
            <%- make_custom_dropdown("usage_questions[content_collector_files][interested_in_CC4Files]",
                    usage_questions.content_collector_files.interested_in_CC4Files, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Where are the files located that you want to collect? (We only support Windows based file servers
                and on-prem Sharepoint.)</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.files_location %>"
                name="usage_questions[content_collector_files][files_location]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Is the customer willing to install an agent on each machine they want to collect data from?</label>
            <%- make_custom_dropdown("usage_questions[content_collector_files][willing_to_install_agent]",
                    usage_questions.content_collector_files.willing_to_install_agent, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>What's the volume of files?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.volume_of_files %>"
                name="usage_questions[content_collector_files][volume_of_files]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Are there unusual File types?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.unusual_file_types %>"
                name="usage_questions[content_collector_files][unusual_file_types]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Average and largest file expected to capture?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.content_collector_files.avg_file_size %>"
                name="usage_questions[content_collector_files][avg_file_size]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Customer understands this is for People Based Legal Holds only?</label>
            <%- make_custom_dropdown("usage_questions[content_collector_files][understand_legal_holds]",
                    usage_questions.content_collector_files.understand_legal_holds, ["Yes", "No"]) %>
        </div>
    </div>
    <hr>
</div>
