<div id="editSupervisionOverview">
    <p>Current Supervision Overview – Digital Communication Review</p>
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>Number of Monitored Users</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm.monitored_users %>"
                name="supervision_questions[digital_comm][monitored_users]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Number of Reviewers</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm.reviewers %>"
                name="supervision_questions[digital_comm][reviewers]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Number of Administrators</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm.admins %>"
                name="supervision_questions[digital_comm][admins]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Number of Rules and Lexicons</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm.rules_lexicons %>"
                name="supervision_questions[digital_comm][rules_lexicons]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Number of Whitelist/SPAM Rules</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm.whitelist_rules %>"
                name="supervision_questions[digital_comm][whitelist_rules]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Number of Business Units/Divisions using Supervision</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm.units_using_supervision %>"
                name="supervision_questions[digital_comm][units_using_supervision]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Do your Business Units/Divisions have different supervisory requirements?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= supervision_questions.digital_comm.different_reqs %>"
                name="supervision_questions[digital_comm][different_reqs]">
        </div>
    </div>

    <hr>
    <% include EditSupervisionOverview/EditSupervisionMessageProfile.ejs %>
</div>
<hr>
