<h5>
    <a href="#editECA-general" style="color: lightseagreen; margin-left:3em;" data-toggle="collapse" onclick="change_arrow($(this));">
        General
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editECA-general" class="collapse">
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>How many users are there on each platform?
            </label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.general.number_of_users_per_platform %>"
                name="other_data_source_questions[enterprise_collaboration_archiving][general][number_of_users_per_platform]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>How many of these users need to be archived
            </label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.general.number_of_users_to_archive %>"
                name="other_data_source_questions[enterprise_collaboration_archiving][general][number_of_users_to_archive]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Do you want to capture all user activity on each platform?</label>
            <%- make_custom_dropdown("other_data_source_questions[enterprise_collaboration_archiving][general][capture_user_activity]",
                        other_data_source_questions.enterprise_collaboration_archiving.general.capture_user_activity, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Average volume of messages/day?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.general.avg_daily_message_volume %>"
                name="other_data_source_questions[enterprise_collaboration_archiving][general][avg_daily_message_volume]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>What is the most active profile like in terms of message and file creation and updates (which
                are treated as new uploads)?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.general.most_active_profile %>"
                name="other_data_source_questions[enterprise_collaboration_archiving][general][most_active_profile]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>What is their retention policy?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.general.retention_policy %>"
                name="other_data_source_questions[enterprise_collaboration_archiving][general][retention_policy]">
        </div>
        <div class="form-group col-4 response-cell">
            <label>Is the customer a PFPT archiving customer?
            </label>
            <%- make_custom_dropdown("other_data_source_questions[enterprise_collaboration_archiving][general][is_archiving_customer]",
                        other_data_source_questions.enterprise_collaboration_archiving.general.is_archiving_customer, ["Yes", "No"]) %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>If not, what archive are you feeding messages into?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.general.which_archive %>"
                name="other_data_source_questions[enterprise_collaboration_archiving][general][which_archive]">
        </div>
    </div>
</div>
<hr>
